.animate {
  transition: all .3s linear;
  opacity: 0;
  &.animate-delay-5 {
    transition-delay: .5s;
  }
  &.animate-delay-2-5 {
    transition-delay: .25s;
  }
  &.animate-from-left {
    transform: translateX(-30px);
  }
  &.animate-from-right {
    transform: translateX(30px);
  }
  &.animate-from-top {
    transform: translateY(-30px);
  }
  &.animate-from-bottom {
    transform: translateY(30px);
  }
  &.animated {
    opacity: 1;
    transform: translate(0, 0);
  }
}
