.blogs-wrapper {
  display: flex;
  flex-wrap: wrap;
  > * {
    margin-bottom: 60px;
    @media (min-width: 769px) {
      flex-basis: calc((100% - 50px) / 3);
      &:not(:nth-child(3n)) {
        margin-right: 25px;
      }
    }
    @media (max-width: 768px) {
      flex-basis: calc((100% - 25px) / 2);
      &:not(:nth-child(2n)) {
        margin-right: 25px;
      }
    }

    @media (max-width: 560px) {
      flex-basis: 100%;
      margin-right: 0px !important;
    }
    article {
      height: 100%;
      display: flex;
      flex-direction: column;
      .thumbnail {
        position: relative;
        .thumbnail-wrapper {
          height: 280px;
          background-color: #CCC;
          overflow: hidden;
          img {
            min-height: 280px;
            object-fit: cover;
            transition: transform 0.2s;
          }
          &:hover {
            img {
              transform: scale(1.1);
            }
          }
        }
        .category {
          padding: 5px 15px;
          font-family: Bebas Neue;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 22px;
          background-color: #000;
          display: flex;
          align-items: center;
          text-align: center;
          color: #FFFFFF;
          position: absolute;
          top: -10px;
          left: 20px;
          z-index: 1;
        }
      }
      .entry-meta {
        text-align: center;
        margin: 10px 0px 5px;
        display: flex;
        justify-content: center;
        * {
          font-family: Avenir;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 20px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #000000;
        }
      }

      .entry-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        z-index: 1 !important;
        .entry-title {
          text-align: center;
          display: flex;
          justify-content: center;
          margin-bottom: 20px;
          padding: 0px 20px;
          a {
            font-family: Bebas Neue;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #000000;
            transition: color 0.25s;
            &:hover {
              color: #555 !important;
            }
          }
        }
        .author {
          margin-top: auto;
          font-family: Avenir;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 20px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #000000;
        }
      }
    }
    &.navigation {
      width: 100%;
      flex-basis: 100% !important;
      margin-bottom: 0px;
      margin-top: 120px;
      .nav-links {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        > * {
          margin: 0px 10px;
          font-family: Bebas Neue;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 18px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #000000;
          &.current {
            font-size: 27px;
            line-height: 20px;
          }
        }
      }
      @media (max-width: 768px) {
        margin-top: 60px;
      }
    }
  }
}

#featured-articles {
  position: relative;
  .featured-article-wrapper {
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    display: block!important;
    .thumbnail-wrapper {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      justify-content: center;
      padding: 0 120px;
      align-items: flex-start;
      .category-wrapper {
        display: flex;
      }
      .category {
        padding: 5px 10px;
        font-family: Bebas Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        background-color: #000;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: .5rem;
      }
      h2 {
        max-width: 450px;
        span, a {
          font-family: Bebas Neue;
          font-style: normal;
          font-weight: normal;
          font-size: 33px;
          line-height: 1.1;
          display: flex;
          align-items: center;
          color: #000000;
          text-decoration: none;
          display: inline;
          transition: color 0.25s;
          background-color: white;
          -webkit-box-decoration-break: clone;
          -ms-box-decoration-break: clone;
          -o-box-decoration-break: clone;
          box-decoration-break: clone;
          box-shadow:
            -10px 0 0 white,
            8px 0 0 white;
          &:hover {
            color: #555 !important;
          }
        }
        &.font-larger {
          span, a {
            font-size: 3.5rem;
          }
        }
      }
    }

    @media (max-width: 768px) {
      height: 300px;
      .thumbnail-wrapper {
        padding: 50px;
      }
    }
  }
  .slick-arrow {
    position: absolute;
    top: calc(50% - 30px);
    z-index: 1;
    cursor: pointer;
    &.arrow-prev {
      left: 30px;
    }
    &.arrow-next {
      right: 30px;
    }
    @media (max-width: 768px) {
      svg {
        width: 10px;
      }
      &.arrow-prev {
        left: 10px;
      }
      &.arrow-next {
        right: 10px;
      }
    }
  }
}

.middle-logo {
  background-attachment: fixed;
  padding: 10px 100px;
  background: rgb(67,71,73);
  background: -moz-linear-gradient(90deg, rgba(67,71,73,1) 0%, rgba(143,94,61,1) 30%, rgba(254,137,49,1) 39%, rgba(253,182,63,1) 45%, rgba(253,200,70,1) 50%, rgba(234,195,79,1) 54%, rgba(110,159,134,1) 77%, rgba(101,157,138,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(67,71,73,1) 0%, rgba(143,94,61,1) 30%, rgba(254,137,49,1) 39%, rgba(253,182,63,1) 45%, rgba(253,200,70,1) 50%, rgba(234,195,79,1) 54%, rgba(110,159,134,1) 77%, rgba(101,157,138,1) 100%);
  background: linear-gradient(90deg, rgba(67,71,73,1) 0%, rgba(143,94,61,1) 30%, rgba(254,137,49,1) 39%, rgba(253,182,63,1) 45%, rgba(253,200,70,1) 50%, rgba(234,195,79,1) 54%, rgba(110,159,134,1) 77%, rgba(101,157,138,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#434749",endColorstr="#659d8a",GradientType=1);
  @media (max-width: 560px) {
    background: -moz-linear-gradient(90deg, rgba(67,71,73,1) 0%, rgba(143,94,61,1) 12%, rgba(254,137,49,1) 32%, rgba(253,182,63,1) 41%, rgba(253,200,70,1) 48%, rgba(234,195,79,1) 63%, rgba(101,157,138,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(67,71,73,1) 0%, rgba(143,94,61,1) 12%, rgba(254,137,49,1) 32%, rgba(253,182,63,1) 41%, rgba(253,200,70,1) 48%, rgba(234,195,79,1) 63%, rgba(101,157,138,1) 100%);
    background: linear-gradient(90deg, rgba(67,71,73,1) 0%, rgba(143,94,61,1) 12%, rgba(254,137,49,1) 32%, rgba(253,182,63,1) 41%, rgba(253,200,70,1) 48%, rgba(234,195,79,1) 63%, rgba(101,157,138,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#434749",endColorstr="#659d8a",GradientType=1);
  }
  img {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    display: block
  }
}
