.border-top-yellow {
  border-top: 4px solid $nycjw-yellow;
}
.border-bottom-yellow {
  border-bottom: 4px solid $nycjw-yellow;
}

/*---------------------------*\
  Default Blocks
\*---------------------------*/

.wp-block-cover {
    @include for-size(md-down) {
        min-height: 45vw;
    }
}
.wp-block-columns {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.wp-block-separator {
  &.is-style-wide {
    width: calc( 100% - 4rem);
    margin: 0 auto;
    background-color: $nycjw-yellow;
    height: 4px;
  }
}
.wp-block-group {
  padding: 3rem 5rem;
  @include for-size(md-down) {
    padding: 3rem 2rem;
  }
  .wp-block-group__inner-container {
    .wp-block-column {
      @include for-size(md-down) {
        flex-basis: 50%!important;
      }
      ul {
        font-size: 1.3rem;
        padding-left: 0!important;
        margin-top: 0!important;
        margin-bottom: 0!important;
        li {
          font-weight: 300;
          strong {
            font-weight: 700;
          }
          @include for-size(md-down) {
            font-size: 1rem;
          }
          &::before {
            display: none;
          }
        }
      }
    }
  }
}

.wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item {
  &::before {
    display: none;
  }
}

/*---------------------------*\
  NYCJW Blocks
\*---------------------------*/

.nycjw-block {
  overflow: hidden;
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $bebas;
    text-transform: uppercase;
  }
  h1, .h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
  }
  h2, .h2 {
    font-size: 2.1rem;
    margin: 1rem 0;
    line-height: .8;
  }
  p {
    font-weight: 300;
  }
}

.nycjw-buttons {
  display: flex;
  justify-content: center;
  margin: 0 -1rem;
  .button-wrapper {
    padding: 0 1rem;
  }
}

.nycjw-button, .nycjw-buttons {
  width: 100%;
  display: flex;
  &.has-icon {
    a {
      background: black;
      color: white;
      display: flex;
      align-items: center;
      span {
        color: white;
      }
    }
    .button-icon {
      background-repeat: no-repeat;
      background-size: contain;
      width: 20px;
      height: 15px;
      margin-right: 10px;
      display: inline-block;
      &.youtube-button-icon {
        background-image: url('../images/icon-youtube.png');
      }
      &.instagram-button-icon {
        background-image: url('../images/icon-instagram.png');
        height: 20px;
      }
    }
  }
  &.text-center {
    justify-content: center;
  }
  &.text-left {
    justify-content: flex-start;
  }
  &.text-right {
    justify-content: flex-end;
  }
}

.btn {
  background-color: $nycjw-yellow;
  color: $nycjw-black;
  padding: .5rem 1rem .25rem;
  text-transform: uppercase;
  font-family: $bebas;
  display: inline-block;
  margin: 0 auto;
  font-size: 1.5rem;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  span {
    z-index: 3;
  }
  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    right: -50%;
    bottom: 0;
    left: -50%;
    height: 20px;
    background: rgba(255, 255, 255, 0.6);
    transform: rotateZ(-54deg) translate(-6em, -6em);
    box-shadow: 0 0 12px white;
  }
  &:hover {
    &::after {
      transform: rotateZ(-54deg) translate(6em, 6em);
      transition: all .75s ease-out;
      box-shadow: 0 0 20px white;
    }
  }
}

/*---------------------------*\
  Intro Block
\*---------------------------*/

.section .section-wrapper .nycjw-intro-header {
  h1 {
    margin-bottom: 2rem;
  }
}
.nycjw-intro-section {
  h2 {
    text-align: center;
  }
  .nycjw-intro-links {
    padding: 1rem 0 0;
    justify-content: center;
    .grid-item {
      &.is-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
        margin-bottom: 3.5rem;
      }
    }
    .grid-item .grid-item-title {
      width: auto;
      padding: .5rem .25rem 0;
      span {
        line-height: .8;
        font-size: 2.2rem!important;
        @include for-size(md-down) {
          font-size: 1.5rem!important;
        }
        @include for-size(sm-md-down) {
          font-size: 1rem!important;
        }
      }
    }
    .image-square-container {
      padding-bottom: 65.25%;
    }
    .grid-item.no-image {
      .image-square-container {
        padding-bottom: 50%;
        background-color: $nycjw-yellow;
        a {
          @extend .absolutify;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .grid-item-title {
          position: relative;
        }
      }
    }
  }
}



/*---------------------------*\
  Quote Block
\*---------------------------*/

.nycjw-quote-content {
  strong {
    font-weight: bold!important;
  }
}

/*---------------------------*\
  Slideshow Block
\*---------------------------*/

.nycjw-slideshow-block {
  .content-container {
    position: relative;
  }
  .nycjw-slideshow {
    transition: all .5s linear;
    opacity: 0;
    transform: translateY(-3rem);
    transition-delay: .5s;
    &.slick-initialized {
      opacity: 1;
      transform: translateY(0);
    }
    .nycjw-slide {
      width: calc(100vw / 3);
      height: 65vh;
      position: relative;
      .slide-content {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
      }
      @include for-size(md-down) {
        width: 50vw;
        height: 40vh;
      }
      @include for-size(sm-md-down) {
        width: 100vw;
        height: 56.25vw;
      }
    }
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .2s linear;
  }
  i {
    border: solid rgba(0,0,0,.3);
    border-width: 0 5px 5px 0;
    border-color: $nycjw-yellow;
    display: inline-block;
    padding: 5px;
    width: 36px;
    height: 36px;
    margin: 0 5px;
    transform: translateY(-50%);
    transition: transform .2s linear;
    cursor: pointer;
  }
  // .gallery-arrow-next, .gallery-arrow-prev {
  //   @include for-size(sm-md-down) {
  //     display: none;
  //   }
  // }
  .gallery-arrow-next {
    right: 1.5rem;
    i {
      transform: rotate(-45deg);
    }
    &:hover {
      i {
        transform: rotate(-45deg) scale(1.1);
      }
    }
  }
  .gallery-arrow-prev {
    left: 1.5rem;
    i {
      transform: rotate(135deg);
    }
    &:hover {
      i {
        transform: rotate(135deg) scale(1.1);
      }
    }
  }
}

/*---------------------------*\
  Custom Header Block
\*---------------------------*/

.nycjw-custom-heading {
  h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
    span {
      font-family: $nunito!important;
      font-weight: 300!important;
      text-transform: none!important;
      font-size: 1.5rem;
      letter-spacing: normal;
    }
  }
}

.wp-block-group {
  .nycjw-custom-heading {
    .content-container {
      padding: 0;
    }
  }
}

.full-width-page { // NOTE: take these styles out of this wrapper after full launch
  .members-preview-block {
    padding: 0 5rem;
    h2 {
      font-family: $bebas;
    }
  }
}

/*---------------------------*\
  Grid Block
\*---------------------------*/

.nycjw-grid {
  .grid-item {
    margin-bottom: 1rem;
    @include for-size(sm-md) {
      margin-bottom: 2rem;
    }
    .grid-item-title {
      background-color: $nycjw-yellow;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: .25rem 1rem 0;
      span {
        font-size: 2.8rem;
        line-height: .8;
        font-family: $bebas;
        @include for-size(md-down) {
          font-size: 1.8rem;
        }
        @include for-size(sm-md-down) {
          font-size: 1.3rem;
        }
        &.large-title {
          font-size: 2.2rem;
          @include for-size(md-down) {
            font-size: 1.5rem;
          }
          @include for-size(sm-md-down) {
            font-size: 1rem;
          }
        }
        &.extra-large-title {
          font-size: 1.8rem;
          @include for-size(md-down) {
            font-size: 1.3rem;
          }
          @include for-size(sm-md-down) {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

.nycjw-content-block + .nycjw-content-block {
  padding-top: 0!important;
}
.nycjw-content-block {
  .content-container {
    align-items: center;
    &.flex-align-top {
      align-items: flex-start;
    }
  }
  @include for-size(sm-md-down) {
    .nycjw-content-wrapper {
      padding: 0 2rem;
    }
  }

  &.bordered-content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    .content {
      padding: 2rem 2rem;
    }
  }

  .border-black {
    border: 4px solid $nycjw-black;
  }

  .border-yellow {
    border: 4px solid $nycjw-yellow;
  }
}

/*---------------------------*\
  Embed Video Block
\*---------------------------*/

.wp-block-embed-youtube {
  @extend .inner-content;
  .wp-block-embed__wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 2rem;
    iframe {
      @extend .absolutify;
    }
  }
}

.instagram-media {
  max-width: 900px;
  width: 100%;
  margin: 4rem auto!important;
  &.instagram-media-rendered {

  }
}
