.single-discover-retail {
    #featured-articles {
        .featured-article-wrapper {
            .thumbnail-wrapper {
                h2 {
                    margin-bottom: 0;
                }
                .category {
                    position: relative;
                    top: -.5rem;
                    margin-bottom: 0;
                }
                .discover-address {
                    position: relative;
                    margin-top: 2rem;
                    span {
                        background-color: $nycjw-yellow;
                        color: black;
                        display: block;
                        position: relative;
                        -webkit-box-decoration-break: clone;
                        -ms-box-decoration-break: clone;
                        -o-box-decoration-break: clone;
                        box-decoration-break: clone;
                        box-shadow: 5px 0 0 $nycjw-yellow, 5px 0 0 $nycjw-yellow;
                        padding: 3px 5px 2px 8px;
                        font-weight: bold;
                        text-transform: uppercase;
                        transform: rotate(1deg);
                        &:last-of-type {
                            left: .5rem;
                            transform: rotate(-1deg);
                        }
                    }
                }
            }
        }
    }
    .discover-content {
        text-align: center;
        margin-top: 3rem;
        p {
            font-size: 1.2rem;
        }
    }
    #filterable-items {
        .item-grid-wrapper {
            .item {
                .item-content {
                    button {
                        width: 100%;
                        appearance: none;
                        border: none;
                        background: transparent;
                        padding: 0;
                        cursor: pointer;
                        .image-wrapper {
                            overflow: hidden;
                            img {
                                transition: transform .2s linear;
                            }
                        }
                        &:hover {
                            img {
                                transform: scale(1.2) rotate(2deg);
                                transition: transform 1.5s linear;
                            }
                        }
                    }
                }
            }
        }
    }

    #discover-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 99;
        background-color: rgba(255,255,255,.7);
        #discover-modal-wrapper {

        }
        &.default_dialog {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__close {
            width: 18px;
            height: 18px;
            position: absolute;
            top: 20px;
            right: 20px;
            display: block;
            z-index: 2;
            cursor: pointer;
            &::after, &::before {
            content: '';
            width: 100%;
            height: 2px;
            background-color: black;
            position: absolute;
            top: 50%;
            left: 0;
            }
            &::before {
            transform: translateY(-50%) rotate(-45deg);
            }
            &::after {
            transform: translateY(-50%) rotate(45deg);
            }
        }
        &__wrapper {
            width: 90%;
            height: 80vh;
            max-width: 1100px;
            background-color: white;
            border: 1px solid black;
            position: relative;
        }
        .slick-arrow {
            position: absolute;
            bottom: 1rem;
            z-index: 1;
            cursor: pointer;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                width: 12px;
                height: auto;
            }
            &.arrow-prev {
                right: 60px;
            }
            &.arrow-next {
                right: 20px;
            }
            @media (max-width: 768px) {
                svg {
                    width: 10px;
                }
                &.arrow-prev {
                    left: 10px;
                }
                &.arrow-next {
                    right: 10px;
                }
            }
            &.slick-disabled {
                opacity: .2;
                pointer-events: none;
            }
        }
        &__carousel {
            width: 100%;
            height: 100%;
            .slick-track, .slick-list, .slick-slide, .slick-slide > div {
                height: 100%;
            }
            .discover-modal {
                height: 100%;
                .flex {
                    height: 100%;
                }
                &__image {
                    flex-basis: 60%;
                    height: 100%;
                    position: relative;
                    .image-wrapper {
                        height: 100%;
                        padding-bottom: 0!important;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                &__content {
                    flex-basis: 40%;
                    padding: 2rem 6rem 2rem 2rem;
                    overflow: auto;
                    height: 100%;
                    .category {
                        padding: 3px 5px 0px;
                        font-family: Bebas Neue;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 1rem;
                        line-height: 22px;
                        letter-spacing: .05rem;
                        background-color: #000;
                        align-items: center;
                        text-align: center;
                        color: #FFFFFF;
                        z-index: 1;
                        display: inline-block;
                    }
                    h3 {
                        font-size: 2.4rem;
                        margin: 0;
                    }
                    .discover-modal__desc {
                        p {
                            a {
                                color: black;
                                font-weight: bold;
                            }
                        }
                    }
                    .btn {
                        color: black;
                        &:visited {
                            color: black;
                        }
                    }
                }
            }
        }
    }
}