.page-template-events {
  .section {
    .section-wrapper {
      padding-top: 0!important;
    }
  }
  &.modal-open {

    pointer-events: none;
  }
}

#events-banner {
  text-align: center;
  background-color: #d50e4b;
  margin-top: 4px;
  position: relative;
  z-index: 4;
  img {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}

.sub-nav-events {
  padding-top: .5rem;
  overflow: hidden;
  .menu {
    justify-content: center;
    align-items: center;
    margin: 0 -.75rem;
    li {
      padding: .5rem .75rem;
      margin: 0;
    }
  }
}

.cta-wrapper {
  button {
    cursor: pointer;
    -webkit-appearance: none;
    border: none;
  }
  a {
    color: $nycjw-black;
  }
  &.past {
    pointer-events: none;
    opacity: .5;
  }
}

.event-loading-wrapper {
  font-family: $bella;
  font-size: 1.8rem;
  text-align: center;
  padding: 3rem 0;
  .event-loading {
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: all 1.5s ease-out;
    transform: scale(1);
    animation: loading-grow 3s infinite;
    animation-direction: alternate;
    &::after {
      content: '';
      position: absolute;
      z-index: 0;
      top: 0;
      right: -50%;
      bottom: 0;
      left: -50%;
      height: 20px;
      background: rgba(255, 255, 255, 0.6);
      transform: rotateZ(-54deg) translate(-3em, -3em);
      box-shadow: 0 0 12px white;
      transition: all .75s ease-out;
      animation: sheen 1s infinite;
      animation-direction: alternate;
    }
  }
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
    transform: rotateZ(-54deg) translate(3em, 3em);
    box-shadow: 0 0 20px white;
  }
}

@keyframes loading-grow {
  100% {
    transform: scale(1.2);
  }
}

.event-main-content {
  padding: 1rem 0 0;
  @include for-size(md) {
    padding: 1.5rem 0;
  }
}
.header-top-buttons {
  position: absolute!important;
  top: 0;
  right: 2rem;
  @include for-size(md-down) {
    position: relative!important;
    top: auto;
    right: auto;
    margin: 0 auto!important;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .btn {
    margin: 0 .5rem;
    white-space: nowrap;
    cursor: pointer;
    font-size: 16px;
    background: black;
    color: white;
    @include for-size(md-down) {
      font-size: 14px;
      margin: .5rem .5rem;
    }
    @include for-size(md) {
      margin-left: 1rem;
    }
    &:visited {
      color: white;
    }
  }
}

.sim-wrapper {
  max-width: 350px;
  margin-left: 1rem;
  background: black;
  color: white;
  position: absolute;
  top: 0;
  z-index: 3;
  left: 3rem;
  padding: 1.5rem 1rem;
  transition: all .2s linear;
  transform: translateY(-100%);
  p {
    font-size: .85rem;
    line-height: 1.5;
    margin: 0;
  }
  select {
    margin-top: 1rem;
    width: 100%;
    height: 40px;
    padding: 0 .5rem;
  }
  .sim-toggle {
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: .25rem .5rem 0;
    background: black;
    font-family: $bebas;
    font-size: 1.2rem;
    cursor: pointer;
  }
  &.visible {
    transform: translateY(0);
  }
}

.event-type-menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &.disabled {
    opacity: .5;
    pointer-events: none;
  }
  .event-type-menu {
    display: flex;
    padding: .25rem;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
    margin: 0 -.5rem 0;
    align-items: stretch;
    justify-content: center;
    .event-type-button-wrapper {
      padding: 0 .5rem;
      flex: 1;
      text-align: center;
      button {
        padding-top: 1rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        .btn-content {
          line-height: 1;
          padding: 2rem .5rem;
          @media only screen and (max-width: 650px)  {
            padding: 0 .5rem;
          }
          span {
            margin-top: .5rem;
          }
        }
      }
    }
    .event-type {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin: 0;
      font-family: $bebas;
      font-size: 2.2rem;
      text-align: center;
      line-height: 1.4;
      padding-bottom: .75rem;
      @media only screen and (max-width: 950px)  {
        font-size: 1.8rem;
      }
      @media only screen and (max-width: 768px)  {
        font-size: 1.4rem;
      }
      .MuiButton-startIcon {
        // margin-top: .25rem;
      }
      .btn-content {
        span {
          display: block;
          color: black;
          font-size: 1rem;
          font-family: $nunito;
          text-transform: none;
          line-height: 1.1;
          padding: 0;
          letter-spacing: normal;
        }
      }
    }
    @media only screen and (max-width: 650px)  {
      flex-direction: column;
      .event-type-button-wrapper:not(:last-of-type) {
        margin-bottom: .75rem;
      }
    }
  }
}

.watch-live-link {
  padding: 0 0 1rem;
  width: 100%;
  position: relative;
  .watch-live {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    letter-spacing: .1rem;
    font-size: 1.7rem;
    position: relative;
    @include for-size(md-down) {
      font-size: 1.2rem;
    }
    &::after {
      display: none;
    }
    &:visited {
      color: $nycjw-black;
    }
  }
}
.event-type {
  margin-bottom: .5rem;
  margin-top: 0;
  span {
    font-family: $bebas;
    padding: .25rem .25rem 0;
    font-size: 1.2rem;
    color: white;
  }
}

#event-slideout {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  transition: all .2s ease-in;
  transition-property: background-color, transform;
	transition-delay: 0.3s, 0s;
  transform: translate3d(100%, 0, 0);
  z-index: 999;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
  &.loading, &.loaded {
    transform: translate3d(0, 0, 0);
    background-color: rgba(255,255,255,.9);
  }
  &.closing {
    transform: translate3d(100%, 0, 0);
    background-color: transparent;
    transition-delay: 0s, 0.3s;
  }
  &.loaded {
    pointer-events: auto;
  }
  #event-slideout-wrapper {
    height: 100%;
    width: 100%;
    background-color: white;
    border-left-width: 4px;
    border-left-style: solid;
    max-width: 850px;
    position: relative;
    cursor: auto;
    @include for-size(md) {
      width: 70%;
    }
    #event-slideout-content-wrapper {
      padding: 2rem 1.5rem 3rem 1.5rem;
      height: 100%;
      width: 100%;
      overflow: auto;
      @include for-size(md) {
        padding: 2rem 3rem 3rem 5rem;
      }
    }
    #close-slide {
      margin: 0;
      width: 100%;
      padding: .5rem 1rem .25rem;
      font-weight: 600;
      position: absolute;
      left: -3rem;
      top: 0rem;
      cursor: pointer;
      @include for-size(md-down) {
        position: fixed;
        border-width: 4px;
        border-style: solid;
        border-right: none;
        border-top: none;
        background: white;
        z-index: 9;
        border-bottom: none;
        top: 0;
        left: 0;
      }
      p {
        margin: 0;
        font-family: $bebas;
        &::before {
          content: '←';
          margin-right: .5rem;
          @include for-size(md) {
            font-size: 3rem;
          }
        }
        span {
          font-size: 1.2rem;
          @include for-size(md) {
            display: none;
          }
        }
      }
    }
    .event-image-gallery {
      @include for-size(md-down) {
        .slick-arrow {
          opacity: 1!important;
        }
      }
      .event-image-wrapper {
        width: 100%;
        height: 0;
        position: relative;
        padding-bottom: 60%;
        .event-image {
          @extend .absolutify;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
    #nycjw-event-map-wrapper {
      width: 100%;
      height: 0;
      padding-bottom: 55%;
      position: relative;
      #nycjw-event-map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .map-event-marker {
        width: 20px;
        height: 20px;
        img {
          width: 100%;
          height: auto;
        }
      }
      .directions {
        z-index: 1;
        position: absolute;
        right: 1rem;
        top: .5rem;
        border: none;
        background-color: black;
        color: white;
        cursor: pointer;
        padding: .35rem .75rem .25rem;
        font-size: 1.1rem;
      }
    }
    #event-slideout-content {
      // margin: 0 auto;
      padding-top: 1rem;
      @include for-size(md) {
        padding-top: 0;
      }
      max-width: 650px;
      h3 {
        font-size: 2.2rem;
        margin-bottom: 0;
      }
      h4 {
        font-size: 1.8rem;
        margin-bottom: 0;
      }
      .event-slideout-header {
        padding: 0 0;
        position: relative;
        margin-bottom: 30px;
        .top-wrapper {
          display: flex;
          align-items: center;
          .btn {
            margin-right: 0px;
            margin-left: auto;
            color: black;
          }
        }
        &.no-image {
          padding-bottom: 2.5rem;
        }
        h2 {
          margin: 1rem 0 0 0;
          line-height: 1;
          max-width: 500px;
          font-size: 2.5rem;
          @include for-size(md) {
            font-size: 4.2rem;
            line-height: .9;
          }
        }
        h3 {
          margin: .5rem 0 1rem;
          font-size: 1.5rem;
          line-height: 1;
          max-width: 500px;
          @include for-size(md) {
            margin: 0 0 1rem;
            font-size: 1.5rem;
          }
        }
        .event-date {
          position: relative;
          margin-bottom: .5rem;
          text-align: center;
          p {
            font-weight: 300;
            margin: 0;
            font-family: $bebas;
            font-size: 1.5rem;
            color: $nycjw-black;
            line-height: 1;
            @include for-size(md) {
              font-size: 1.25rem;
            }
            span {
              font-weight: 300;
              font-family: $nunito;
              font-size: 1rem;
              @include for-size(md) {
                font-size: .9rem;
              }
            }
          }
        }
        .event-sub-header {
          padding: 1rem 0;
          @include for-size(md) {
            position: absolute;
            right: 0;
            top: 0rem;
            a {
              padding-left: 1rem;
              padding-right: 1rem;
            }
          }
          .cta-wrapper {
            text-align: center;
          }
        }
      }
      .special-instructions {
        background-color: rgba(0,0,0,.03);
        padding: .5rem 1rem .75rem;
        margin-top: 1rem;
        p {
          font-size: .9rem;
        }
        p:last-of-type {
          margin-bottom: 0;
        }
      }
      .partner {
        h3 {
          margin: 0;
          display: flex;
          align-items: center;
          a {
            margin-left: 1rem;
            color: $nycjw-black;
            font-size: 1rem;
          }
        }
        a:visited {
          color: $nycjw-black;
        }
        .partner-header {
          padding-bottom: 1rem;
          @include for-size(md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 0;
          }
        }
        .partner-info {
          padding: 1.5rem 0;
          @include for-size(md) {
            display: flex;
            align-items: center;
          }
          &:not(:last-of-type) {
            border-bottom: 1px solid rgba(0,0,0,.2);
          }
          .partner-info-text {
            text-align: center;
            margin: 0 auto;
            width: 80%;
            @include for-size(md) {
              margin: auto;
              width: 60%;
              flex-shrink: 0;
              padding-right: 6rem;
              text-align: left;
            }
            p {
              margin: 0;
              line-height: 1.3;
              @include for-size(md) {
                font-size: .9rem;
              }
            }
          }
          .partner-info-links-wrapper {
            width: 100%;
            h5 {
              font-size: 1.6rem;
              margin: 1rem 0 0;
            }
            .partner-info-links {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 1rem;
              @include for-size(md) {
                margin: 0;
              }
              a {
                position: relative;
                display: block;
                margin: 0 .25rem;
                flex: 1;
                @include for-size(md) {
                  min-width: 120px;
                  flex: auto;
                }
                img {
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }
      }
      .event-social {
        display: flex;
        margin: 0 -.25rem;
        padding: 1rem 0 2rem;
        a {
          height: 20px;
          width: auto;
          position: relative;
          margin: 0 .25rem;
          img {
            height: 100%;
            width: auto;
          }
        }
      }
    }
    .event-content {
      br {
        display: block;
        margin-bottom: 18px;
        content: ' ';
      }
      a {
        color: $nycjw-black;
        font-weight: 500;
      }
    }
    .event-participants {
      a, a:visited {
        color: $nycjw-black;
        font-weight: 600;
      }
      ul {
        padding: 1.5rem 0;
        margin: 0;
        list-style: none;
        li {
          padding: .5rem 0 .75rem;
          &::before {
            display: none!important;
          }
          .event-type {
            span {
              font-family: $nunito!important;
              background: transparent!important;
              color: black!important;
              text-transform: uppercase;
              padding: 0!important;
              letter-spacing: .1rem;
              font-size: .8rem;
            }
          }
          h5 {
            font-size: 1.2rem;
            margin: .25rem 0 0;
            line-height: 1;
          }
          .event-date {
            margin-top: .5rem;
          }
          p {
            margin: 0 0 0;
            font-size: .9rem;
          }
        }
      }
    }
    .sponsor_layout {
      width: 100%;
    }
    .event-sponsors {
      display: flex;
      margin: 0 -.75rem;
      flex-wrap: wrap;
      width: 100%;
      a {
        width: calc(100% / 3);
        padding: 0 .75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        span {
          margin-top: .5rem;
        }
      }
    }
    .follow-nycjw {
      border-top: 2px solid $nycjw-black;
      padding: 1.5rem 0;
      a {
        color: $nycjw-black;
        font-family: $bebas;
        font-size: 1.8rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        @include for-size(md) {
          font-size: 2rem;
        }
        span {
          display: block;
          padding-top: .4rem;
        }
        img {
          width: 24px;
          height: auto;
          margin-right: .5rem;
          @include for-size(md) {
            width: 30px;
            margin-right: 1rem;
          }
        }
      }
    }
  }
  &.virtual-booth {
    #event-slideout-content {
      padding-top: 2rem!important;
      @include for-size(lg) {
        padding-left: 3rem;
        padding-top: 0!important;
      }
    }
    .follow-nycjw {
      margin-top: 3rem!important;
    }
    .item {
      width: 100%!important;
      @include for-size(lg) {
        width: 40%!important;
      }
      .slick-arrow {
        opacity: 1;
      }
    }
    .event-social {
      padding: 0 0 .5rem!important;
    }
    .project-url {
      margin-bottom: 1rem!important;
      display: block;
    }
    .event-content {
      margin-bottom: 1rem;
    }
    #event-slideout-wrapper {
      max-width: 1200px;
      @include for-size(md) {
        width: 90%;
      }
      #event-slideout-content-wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        @include for-size(lg) {
          flex-direction: row;
        }
        .item {
          width: 40%;
        }
      }
      #event-slideout-content {
        max-width: 100%;
        width: 100%;
      }
    }
  }
  &.loading {
    #event-slideout-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

#events-header {
  #events-sub-header {
    text-align: center;
    padding: 0 0 1rem 0;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    @include for-size(md) {
      padding: 1rem 2rem;
    }
    #events-sub-header-title {
      display: flex;
      justify-content: flex-end;
      h1 {
        line-height: .8;
        margin-bottom: 1rem;
        display: inline-block;
        position: relative;
        @include for-size(md) {
          margin: 0;
        }
        button {
          position: absolute;
          right: 0;
          top: calc(50% - 4px);
          transform: translate(calc(100% + 1rem), -50%);
        }
      }
    }
  }
  #events-tab-select-wrapper {
    padding: 0 1rem;
    #events-tab-select {
      width: 100%;
      padding: .75rem .5rem .5rem .5rem;
      font-family: $bebas;
      font-size: 1.5rem;
      @include for-size(md) {
        display: none;
      }
    }
  }
  #events-tabs-wrapper {
    z-index: 99;
    position: relative;
    #virtual-header {
      color: white;
      background-color: black;
      text-align: center;
      padding: .5rem 1rem;
      h2 {
        color: white;
        margin: 0;
      }
    }
  }
  #events-header-tabs {
    background-color: $nycjw-yellow;
    display: none;
    @include for-size(md) {
      display: flex;
    }
    .header-tab {
      flex: 1;
      text-align: center;
      padding: .75rem 1rem .5rem;
      flex-shrink: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      flex-direction: column;
      z-index: 99;
      position: relative;
      h3, p {
        margin: 0;
        text-transform: uppercase;
        line-height: 1;
      }
      h3 {
        font-size: 1.5rem;
        white-space: nowrap;
      }
      p {
        font-size: .8rem;
      }
      #map-current-date-tab {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -10px;
        right: -10px;
        border: 1px solid black;
        padding: 0;
        z-index: 100;
        cursor: pointer;
        svg {
          width: 50%;
          height: auto;
        }
        span {
          display: block;
          font-size: .8rem;
        }
        &:hover {
          border-color: black;
        }
      }
      &.active {
        background-color: black;
        position: relative;
        h3, p {
          color: white!important;
        }
        &::after {
          content: '';
          position: absolute;
          left: 50%;
          top: calc(100% - 1px);
          z-index: 99;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 9px 10px 0 9px;
          border-color: black transparent transparent transparent;

        }
      }
    }
  }
}

.event-sponsor {
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
  @include for-size(md) {
    padding: 1.5rem 3rem;
  }
  p {
    font-weight: 600;
    margin: 0;
  }
  img {
    width: 120px;
    height: auto;
    margin-left: 1rem;
  }
}

#events-wrapper {
  overflow: hidden;
  padding-bottom: 1rem;
}

.event-listing {
  padding: 2rem 0 2rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
  position: relative;
  z-index: 97;
  &:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    transform: scale(1.02);
    z-index: 98;
  }
  &:nth-child(odd) {
    background-color: #F9F9F9;
  }
  @include for-size(sm) {
    display: flex;
    padding: 1rem 1rem 2rem;
  }
  @include for-size(lg) {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    flex-wrap: wrap;
  }
  @include for-size(lg) {
    flex-wrap: nowrap;
  }
  .event-type {
    p {
      margin: 0;
    }
    span {
      font-family: $bebas;
      padding: .15rem .2rem 0;
      font-size: 1rem;
      color: white;
    }
  }
  &.event-over {
    opacity: .5;
  }
  .event-image-wrapper {
    width: 100%;
    position: relative;
    flex-shrink: 0;
    @include for-size(sm) {
      width: 18%;
      min-width: 150px;
    }
    @include for-size(md) {
      min-width: 250px;
    }
    .event-image-content {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      position: relative;
      .event-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        .event-time {
          position: relative;
          z-index: 1;
          font-family: $bebas;
          text-align: center;
          font-weight: bold;
          color: black;
          line-height: 1;
          padding: 2rem 1rem;
          font-size: 1.8rem;
          span {
            margin: 0 .5rem;
          }
          h4 {
            margin: 0 0 .5rem;
            font-size: 2rem;
          }
          @include for-size(md) {
            padding: .5rem;
            font-size: 2rem;
            h4 {
              display: none;
            }
          }
          span {
            @include for-size(md) {
              line-height: .5;
              display: block;
            }
          }
        }
      }
    }
  }
  &.intro {
    @include for-size(md-down) {
      text-align: center;
      padding: 1rem 1rem;
    }
    .event-image {
      @include for-size(md-down) {
        display: none;
      }
    }
  }
  &.durational {
    .event-image {
      &::after {
        display: none;
      }
    }
  }
  .event-info {
    // flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    @include for-size(md) {
      padding: 1rem 2rem;
    }
    @include for-size(lg) {
      display: flex;
      flex-direction: row;
      padding: 0;
    }
    .event-title {
      padding: 1rem;
      flex-grow: 1;
      @include for-size(sm) {
        padding: 0 0 0 1rem;
      }
      @include for-size(md) {
        padding: 0rem;
        padding: 1.5rem 1.5rem;
      }
      @include for-size(lg) {
        padding: 0 1.5rem;
        padding: 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        // justify-content: center;
      }
      h4 {
        margin: 0 0 .5rem;
        padding: 0;
        font-family: $bebas;
        font-size: 2.4rem;
        line-height: 1;
        @include for-size(md-down) {
          font-size: 2rem;
          line-height: 1.1;
        }
        @include for-size(lg-down) {
          padding-top: .5rem;
        }
      }
      h5 {
        font-size: 1.2rem;
        margin: 0 0 .5rem;
        line-height: 1;
        @include for-size(md) {
          font-size: 1.4rem;
        }
      }
      a {
        color: black;
        text-decoration: none;
        line-height: 1;
        @include for-size(md) {
          font-size: 1.8rem;
        }
      }
      .event-exc {
        max-width: 760px;
      }
    }
    .event-details {
      min-width: 150px;
      display: flex;
      flex-direction: column;
      // padding: 2rem 0 1rem;
      padding: 0 0 0 1rem;
      flex-grow: 0;
      margin-right: 2rem;
      @include for-size(sm) {
        margin-top: 1rem;
      }
      @include for-size(lg) {
        margin-top: 1.5rem;
        align-items: center;
        text-align: center;
      }
      .event-time {
        margin-bottom: .5rem;
        font-family: $bebas;
        font-size: 1.2rem;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
}
.no-events {
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
}
.events-footer {
  p {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.event-contnet {
  margin-top: 30px;
}

.sponsor_layout {
  display: inline-flex;
  flex-direction: column;
  .sponsor_logo {
    margin: 1rem auto 0;
    max-width: 300px;
  }
}
