.user-icon {
  width: 20px;
  height: auto;
  position: relative;
  display: inline-block;
  img {
    width: 100%;
    height: auto;
  }
}
.create-an-event {
  color: black!important;
  &:visited {
    color: black!important;
  }
}
#event-owner-events {
  .event-form {
    .acf-form {
      width: 100%;
    }
    #message {
      width: 100%;
      padding: 0 .5rem;
      p {
        margin: 0;
        padding: .5rem 1rem;
        border: 2px solid #FAF013;
        background-color: #FFFDCC;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
      }
      // &.updated {
      //   border-color: #10950d;
      //   background-color: ##e0ffe0;
      // }
    }
  }
  .acf-switch.-on {
    background: black;
    border-color: black;
  }
  .acf-switch .acf-switch-on {
    text-shadow: black 0 1px 0!important;
    .acf-switch-slider {
      border-color: black;
    }
  }
  .acf-label .description {
    max-width: 600px;
    font-size: .9rem;
    margin-bottom: 1.5rem;
  }
  .acf-checkbox-list .button {
    color: white;
    background-color: black;
    padding: .25rem .5rem;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
  }
  .acf-form-submit {
    .acf-button {
      height: 60px !important
    }
  }
  .event-row {
    cursor: pointer;
    &:nth-child(2n) {
      background-color: #CCC;
    }
    &:nth-child(2n+1) {
      background-color: #F1F1F1;
    }
    padding: 1rem;
    .edit-event-button {
      color: black;
      text-transform: uppercase;
      font-family: $bebas;
      text-decoration: none;
      font-size: 1.2rem;
      align-items: center;
      line-height: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        height: 17px;
        width: 17px;
      }
    }
    margin-bottom: 10px;
    &:hover {
      transition: all .3s;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    }
  }
  .btn {
    text-align: center;
  }
  .btn-preview {
    width: 200px;
    height: 60px !important;
    font-size: 1.5rem;
    line-height: unset;
    border-radius: 0px;
    border: none;
    cursor: pointer;
  }
  .acf-button {
    color: white;
    background-color: black;
    padding: .25rem .5rem;
    margin-left: 1rem;
    font-size: .8rem;
    text-transform: uppercase;
    text-decoration: none;
    &.button-large {
      @extend .btn;
      margin-top: 3rem;
      padding: .75rem 1.5rem .5rem;
      border: none!important;
      color: black;
    }
  }
  .acf-fields {
    [type="text"], [type="url"], [type="email"] {
      padding: .5rem 1rem;
    }
  }
}

.loading-status {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  line-height: .9;
  color: #FFF;
  width: 100%;
  height: 100%;
}

#new-event-form,
.event-owner-event.event-form {
  position: relative;
  #preview-wrapper {
    cursor: pointer;
    margin-top: 1rem;
  }
  .acf-form-submit {
    padding: 0 1rem;
  }
}
.btn-submit-event {
  min-width: 200px !important;
  height: 60px !important;
  border: none;
  border-radius: 0px;
  &.disabled {
    pointer-events: none;
    opacity: 0.2;
    cursor: not-allowed;
  }
}
