@media (min-width: 768px) {
  #menu-2022-new-main-menu, #menu-header-menu {
    & > .menu-item {
      display: flex;
      align-items: center;
      height: 120px;
      padding: 0 1rem !important;
      cursor: pointer;

      & > .sub-menu {
        display: flex !important;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-10px);
      }

      @media (max-width: 1600px) {
        height: 100px;
      }

      @media (max-width: 1400px) {
        height: 90px;
      }

      @media (max-width: 1200px) {
        height: 60px;
      }

      @media (max-width: 1024px) {
        height: 42px;
      }

      &:hover {
        position: relative;

        & > .sub-menu {
          position: fixed;
          top: 120px;
          left: 0;
          right: 0;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          background-color: #FCFCFC;
          z-index: 1;
          padding: 0;
          border-top: 4px solid #FEF200;
          visibility: visible;
          opacity: 1;
          transform: translateY(0px);
          transition: opacity 0.2s ease-in, transform 0.2s ease-in;

          @media (max-width: 1600px) {
            top: 100px;
          }

          @media (max-width: 1400px) {
            top: 90px;
          }

          @media (max-width: 1200px) {
            top: 60px;
          }

          @media (max-width: 1024px) {
            top: 42px;
          }

          a {
            color: #ffffffa0;
            color: #000;
            font-size: 1.2rem;
            font-weight: 600 !important;
          }

          & > .menu-item {
            padding: 2rem 3rem 2rem;

            & > .sub-menu {
              position: relative;
              background-color: transparent;
              padding: 1rem 1rem 1rem 0;

              a {
                color: #000;
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }

  .shrink {
    #menu-2022-new-main-menu, #menu-header-menu {
      & > .menu-item {
        height: 52px;

        &:hover {
          & > .sub-menu {
            top: 52px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main-navigation {
    margin: 2rem 0 !important;
  }

  #menu-2022-new-main-menu, #menu-header-menu {
    margin: 2rem 0 !important;

    & > li.active {
      & > a {
        font-weight: 600px !important;
        font-size: 1.1rem !important;
      }

      & > ul {
        margin: 0.5rem 0 !important;

        & > li:first-of-type {
          padding-top: 0 !important;

          &::before {
            content: none !important;
          }
        }

        & > li {
          & > ul {
            margin: 0 0 0.5rem !important;

            li a {
              font-size: 0.8rem !important;
            }
          }
        }
      }
    }
  }
}

// Watch Page Style
#watch-page {
  .site-main {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 900px;
    margin: 1rem auto;

    .embed-video {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;

      .youtube-video {
        width: 100%;
        max-width: 900px;
        height: 40vw;
        max-height: 520px;
      }

      .instagram-media {
        background: #FFF;
        border: 0;
        border-radius: 3px;
        box-shadow:
          0 0 1px 0 rgba(0,0,0,0.5),
          0 1px 10px 0 rgba(0,0,0,0.15);
        margin: 1px;
        max-width: 900px;
        min-width: 326px;
        padding: 0;
        width: 100%;
      }
    }

    .controls {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0.5rem 1rem;
      background: grey;
      margin-bottom: 2rem;

      .youtube-subscribe {
        display: flex;
        align-items: center;
        background: black;
        padding: 0.5rem 1rem;
        color: white;
        text-decoration: none;
        border-radius: 4px;

        &:hover {
          opacity: 0.8;
        }

        &-icon {
          background-image: url('https://www.youtube.com/s/subscriptions/subscribe_embed/img/subscribe_button_branded_lozenge.png');
          background-repeat: no-repeat;
          background-size: auto;
          width: 16px;
          height: 12px;
          margin-right: 10px;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .site-main {
      width: 90%;
      max-width: inherit;
    }
  }
}
