$headerHeight: 54px;

body {

}
header, footer {
  z-index: 11;
  a, a:visited {
    text-decoration: none;
    color: $nycjw-black;
  }
}

.hidden {
  display: none;
}

.w-100 {
  width: 100%;
}

hr {
  margin-bottom: 5px;
}

input:focus, textarea:focus {
  outline: none!important;
  box-shadow: none!important;
}

.ratio-7 {
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
  }
}
.underlined {
  border-bottom: 2px solid $nycjw-black;
}
.bebas {
  font-family: $bebas;
}
.inner-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}

.bg-centered {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-justified {
  text-align: justify;
}
.text-centered, .text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.text-button {
  appearance: none;
  background-color: transparent;
  font-weight: 600;
  border: none;
  padding-left: 0;
  padding-right: 0;
  &:focus {
    outline: none;
  }
}

.uppercase {
  text-transform: uppercase;
}
.relative {
  position: relative;
}
.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.px2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.px3 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.py3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.px4 {
  padding-left: 4rem;
  padding-right: 4rem;
}
.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.px5 {
  padding-left: 5rem;
  padding-right: 5rem;
}
.py5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.px3, .px4, .px5 {
  @include for-size(md-down) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.py3, .py4, .py5 {
  @include for-size(md-down) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.mt1 {
  margin-top: 1rem;
}
.mt2 {
  margin-top: 2rem;
}
.mt3 {
  margin-top: 3rem;
}
.mt4 {
  margin-top: 4rem;
}
.mt5 {
  margin-top: 5rem;
}

/*---------------------------*\
  Full page
\*---------------------------*/

.section {
  min-height: 100%;
  .section-wrapper {
    position: relative;
    width: 90%;
    max-width: 760px;
    margin: 0 auto;
    padding: 8em 0 4em;
    h1 {
      font-size: 2.5em;
      line-height: 1em;
      margin: 0;
      position: relative;
    }
    &.full-width-page {
      width: 100%;
      max-width: 100%;
    }
  }
}
#page-content {
  h2 {
    font-size: 2em;
    line-height: 1em;
    margin: 0;
    position: relative;
  }
}
.home {
  .section .section-wrapper.full-width-page {
    padding-top: 0;
  }
  .wp-block-image {
    margin-bottom: 0;
    img {
      display: block;
    }
  }
}

.col-md {
  .col-item {
    margin: 1em 0;
  }
  @media only screen and (min-width: 48em) {
    margin: 0 -1em;
    display: flex;
    flex-wrap: wrap;
    .col-item {
      margin: 1em 1em;
      flex: 0 0 calc(50% - 2em);
    }
  }
}

body:not(.home) {
  .section {
    .section-wrapper {
      padding: 3rem 0;
    }
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height:100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 9;
}

#fullpage {
  //top: $headerHeight;
  min-height: 100vh;
  opacity: 1;
  transition: opacity .3s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  &.hidden {
    opacity: 0;
    .loader {
      display: flex;
    }
  }
  .section {
    //padding-top: $headerHeight;
    width: 100%;
    .section-content {
      a {
        font-weight: 700;
        text-decoration: none;
        color: $nycjw-black;
        position: relative;
        &:hover {
          color: white;
          font-weight: 500;
          &::before {
            content: '';
            width: calc(100% + 10px);
            height: calc(100% + 6px);
            position: absolute;
            left: -5px;
            top: -3px;
            background-color: $nycjw-black;
            z-index: -1;
          }
        }
      }
    }
  }
  .fullpage-wrapper {
  	width: 100%!important;
  	transform: none!important;
  }
  .fp-section {
    width: 100%!important;
  	position: absolute!important;
  	left: 0;
  	top: 0;
  	visibility: hidden;
  	opacity: 0;
  	z-index: 0;
  	transition: opacity .7s ease-in-out;
  }
  .fp-section.active {
  	visibility: visible;
  	opacity: 1;
  	z-index: 1;
  }
}

.flex {
  display: flex;
}
.flex-reverse {
  flex-direction: row-reverse;
}
.flex-align-top {
  align-items: flex-start;
}
.flex-align-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.column-reverse {
  flex-direction: column-reverse;
}
.space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.flex-grid {
  display: flex;
  flex-wrap: wrap;
  &.flex-align-center {
    align-items: center;
  }
  .flex-grid-item {
    flex: 1;
    flex: 0 0 100%;
    @include for-size(sm-md) {
      flex: 0 0 50%;
    }
    @include for-size(md) {
      flex: 0 0 calc(100% / 3);
    }
    @include for-size(lg) {
      flex: 0 0 25%;
      &.large-one-third {
        flex: 0 0 calc(100% / 3);
      }
    }
  }
  &.flex-gutter-medium {
    margin: 0 -1rem;
    .flex-grid-item {
      padding: 0 1rem;
      position: relative;
    }
  }
}

.image-square-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  .image-absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.nycjw-grid {
  .image-square-container {
    background-color: #E1E1E1;
    a {
      position: absolute !important;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  .more-link {
    text-align: center;
  }
  .item {
    .item-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      .image-wrapper {
        flex: 1;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}


.site-main {
	padding-top: 116px;
  @include for-size (sm-md-down) {
    padding-top: 40px;
  }
}

/*---------------------------*\
  Header
\*---------------------------*/

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 4px solid $nycjw-yellow;
  transition: height .2s linear;
  z-index: 102;
  transform: rotate(.001deg);
  .menu-toggle {
    display: none;
  }
  #header-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    .header-logo {
      width: 50%;
      max-width: 700px;
      min-width: 250px;
      transition: all .2s linear;
      transform: rotate3d(1, 1, 1, .001deg);
      svg {
        display: block;
        height: auto;
        width: 100%;
        transition: all .2s linear;
        transform: rotate3d(1, 1, 1, .001deg);
        height: 120px;

        @media (max-width: 1600px) {
          width: 580px;
          height: 100px;
        }

        @media (max-width: 1400px) {
          width: 525px;
          height: 90px;
        }

        @media (max-width: 1200px) {
          width: 350px;
          height: 60px;
        }

        @media (max-width: 1024px) {
          width: 250px;
          height: 42px;
        }
      }
    }
  }
  &.shrink {
    #header-content {
      .header-logo {
        width: 300px;
        svg {
          width: 300px !important;
          height: 52px !important;
        }
        @include for-size(md-down) {
          width: 250px;
        }
      }
    }
  }
  @include for-size(md-down) {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    width: 100%;
    .menu-toggle {
      width: 30px;
      height: 20px;
      margin-right: 1rem;
      cursor: pointer;
      position: relative;
      display: block;
      .menu-toggle-line {
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        &::before, &::after {
          content: '';
          width: 100%;
          height: 2px;
          background-color: black;
          position: absolute;
          top: 10px;
          left: 0;
          transition: all .2s linear;
        }
        &::after {
          top: 20px;
        }
      }
    }
  }
  .menu-toggle-wrapper {
    align-items: center;
    margin-right: 1rem;
    @include for-size(md-down) {
      display: flex;
    }
    .user-icon {
      @include for-size(md-down) {
        display: block;
        margin-right: 1rem;
        img {
          display: block;
        }
      }
    }
  }
  .menu-overlay {
    @include for-size(md-down) {
      opacity: 0;
      pointer-events: none;
      position: fixed;
      top:$headerHeight;
      left:0;
      width: 100vw;
      height: calc(100vh - #{$headerHeight});
      background-color: white;
      transition: opacity .3s linear;
    }
    .menu-container {
      display: flex;
      height: 100%;
      @include for-size(md-down) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
    #header-contact-info {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include for-size(md) {
        display: none;
      }
      .join-list, .volunteer-link {
        margin-bottom: 8px;
      }
      .social-icons {
        margin: 16px 0 0;
        display: flex;
        justify-content: center;
      }
    }
  }
  #site-navigation {
    .user-icon {
      display: none;
    }
    @include for-size(md) {
      padding-right: 1rem;
      padding-left: 1rem;
      display: flex;
      align-items: center;
      .user-icon {
        margin-left: .5rem;
        display: block;
      }
    }
    .main-navigation {
      height: 100%;
      & > ul {
        height: 100%;
        li {
          a {
            font-weight: 400;
          }
        }
      }
    }
    ul {
      padding-left: 0;
      display: flex;
      list-style-type: none;
      align-items: center;
      margin: 0;
      @include for-size(md-down) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      li {
        padding: .25em 1rem;
        position: relative;
        white-space: nowrap;
        @include for-size(md-down) {
          opacity: 0;
        }
        a {
          text-transform: uppercase;
          font-size: 1em;
        }
        ul {
          position: relative;
          @include for-size(md) {
            padding: 1rem;
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 99999;
            background: #fff;
          }
          @include for-size(md-down) {
            font-size: .9rem;
            max-height: 0;
            overflow: hidden;
            transition: max-height .2s linear;
          }
          li {
            white-space: nowrap;
            @include for-size(md) {
              padding: .5rem 0;
            }
            a {
              font-weight: 400!important;
            }
            @include for-size(md-down) {
              font-size: .9rem;
              position: relative;
              &:first-of-type {
                padding-top: 1rem;
                margin-top: .5rem;
                &::before {
                  content: '';
                  position: absolute;
                  width: 30px;
                  height: 2px;
                  background-color: $nycjw-yellow;
                  left: calc(50% - 15px);
                  top: 0;
                }
              }
            }
          }
        }
        &:last-of-type {
          ul {
            @include for-size(md) {
              left: auto;
              right: 0;
            }
          }
        }
        &.active {
          ul {
            max-height: 100%;
          }
        }
        &:hover, &.current-menu-item {
          & > a {
            // font-weight: 700;
            text-shadow: 0 0 .55px #000, 0 0 .55px #000;
          }
        }
        &:hover {
          ul {
            display: block;
          }
        }
      }
    }
  }
}
body.menu-active {
  .site-header {
    .menu-overlay {
      opacity: 1;
      pointer-events: auto;
    }
    #header-content .menu-toggle-line {
      background-color: transparent;
      &::before {
        transition-delay: .2s;
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
        top: 10px;
      }
    }
  }
}
.social-icon {
  width: 18px;
  height: auto;
  transition: transform .2s linear;
  &:hover {
    transform: scale(1.15);
  }
  img {
    width: 100%;
    height: auto;
  }
}

/*---------------------------*\
  Home
\*---------------------------*/

#section-home {
  .section-wrapper {
    text-align: center;
  }
}
.home-logo {
  margin: 0 auto;
  height: auto;
  width: 90%;
  svg {
    height: auto;
    width: 100%;
  }
}
.home-subtitle {
  font-family: $nunito;
  font-weight: 300;
  font-size: 1.3em;
  text-align: center;
  opacity: 0;
  transition: opacity .2s linear;
  //text-transform: uppercase;
}

/*---------------------------*\
  Circle Links
\*---------------------------*/

.circle-links {
  .circle-link-container {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    .circle-link-image {
      height: 0;
      padding-bottom: 100%;
      position: relative;
      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
        overflow: hidden;
        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all .2s linear;
          transform: scale(1) rotate(.001deg);
        }
        &:hover {
          img {
            transform: scale(1.05) rotate(.001deg);
          }
        }
      }
    }
    .circle-link {
      text-align: center;
      padding: 10px 0;
      a {
        font-size: 1.3em;
      }
    }
  }
}

/*---------------------------*\
  Coming Soon
\*---------------------------*/

.page-template-coming-soon {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .content-area {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .site-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner-content {
      max-width: 1200px;
      text-align: center;
      h1 {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: calc(100% + 10px);
          width: 70%;
          left: 15%;
          height: 2px;
          background: $nycjw-black;
          @include for-size(md) {
            height: 4px;
          }
        }
      }
      h2 {
        font-size: 2rem;
        @include for-size(md) {
          font-size: 3rem;
        }
      }
    }
  }
  .coming-soon {
    min-height: 100%;
  }
  .site-footer {
    position: absolute!important;
    bottom: 0!important;
    left: 0!important;
    width: 100%!important;
  }
}

/*---------------------------*\
  About
\*---------------------------*/

#menu-about-menu, .sub-nav ul {
  margin: 0;
  padding: 0 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  li {
    margin: 0;
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      color: $nycjw-black;
      font-size: .9rem;
      position: relative;
      &::before {
        content: '';
        width: calc(100% + 10px);
        height: calc(100% + 6px);
        position: absolute;
        left: -5px;
        top: -3px;
        background-color: $nycjw-black;
        z-index: -1;
        opacity: 0;
      }
      &:hover {
        color: white;
        &::before {
          opacity: 1;
        }
      }
    }
  }
}

.testimonials {
  position: relative;
  &::before {
    content:'';
    background-image: url('../images/quote.png');
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    opacity: .1;
    background-size: contain;
    transform: translate(-50%, -10%);
  }
  .testimonial {
    font-size: .9em;
    .quote p{
      font-weight: 500;
      font-style: italic;
      margin-bottom: 10px;
    }
  }
  .testimonial-arrows {
    position: absolute;
    bottom: 1em;
    right: 1.5em;
    display: flex;
    .slick-arrow {
      cursor: pointer;
      transition: all .2s linear;
      opacity: .8;
      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }
    }
    i {
      border: solid rgba(0,0,0,.3);
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 5px;
      width: 10px;
      height: 10px;
      margin: 0 5px;
    }
    .testimonial-arrow-right i{
      transform: rotate(-45deg);
    }
    .testimonial-arrow-left i{
      transform: rotate(135deg);
    }
  }
}

.next-page-down {
  text-align: center;
  .next-page-button-container {
    display: inline-block;
    .next-page-button {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }
  }
  span {
    font-size: 1.3em;
    font-family: $bella;
    position: relative;
  }
  .next-page-arrow{
    margin: 0 auto;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 8px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  }
}

/*---------------------------*\
  Team
\*---------------------------*/

.page-template-advisory {
  #page-content {
    & > p {
      font-size: .95rem;
    }
  }
  #team-container {
    padding-top: 1rem;
    margin-top: 3rem;
    border-top: 1px solid $nycjw-black;
    .team-container {
      .member-image-container {
        max-width: 200px;
      }
    }
  }
}
#team-container {
  h2 {
    font-size: 3em;
  }
  .team-container {
    .team-member-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .member-name {
        margin: 0;
      }
    }
    &.team-container-supporting-staff {
      .team-member-container {
        width: 50%;
        padding: 15px;
        .member-name {
          font-size: 1.4em;
        }
      }
    }
  }
  .team-names-only-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
      font-size: 1.3em;
      color: $nycjw-black;
      text-decoration: none;
      width: 50%;
      text-align: center;
    }
  }
}

#team-index {
  column-count: 2;
  column-gap: 30px;
  margin-bottom: 6rem;
  div {
    font-weight: 500;
    margin-top: 6px;
    font-size: 18px;
    display: inline-block;
    clear:both;
    width: 100%;
  }
  span {
    position: relative;
    padding: 2px 5px 3px 5px;
  }
  a {
    span {
      padding-left: 0;
    }
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    padding-left: 5px;
    transition: all .15s linear;
    &:hover span {
      @include blackbackground();
      padding: 3px 5px 2px;
    }
    &:hover {
      padding: 0;
      .member-title {
        padding-left: 5px;
      }
    }
    .member-title {
      font-size: 10px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-family: $nunito;
      margin: 0;
    }
  }
}
.team-member-container {
  position: relative;
  width: 100%;
  margin-bottom: 2em;
  .image-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  .member-image-container {
    position: relative;
    .more-info-cover {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      font-family: monospace;
      transition: transform 0s linear;
      transform: translateY(100%);
      z-index: 1;
      span {
        position: absolute;
        bottom: 30px;
        right: 30px;
        width: 50px;
        height: 50px;
        background-color: rgba(255,255,255,1);
        border-radius: 50%;
        &::before {
          content: '';
          width: 60%;
          height: 1px;
          background-color: black;
          position: absolute;
          top: calc(50% - 1px);
          left: 20%;
        }
        &::after {
          content:'';
          height: 60%;
          width: 1px;
          background-color: black;
          position: absolute;
          left: calc(50% - 1px);
          top: 20%;
        }
      }
    }
    &:hover {
      .image-2 {
        display: block;
      }
      .more-info-cover {
        transform: translateY(0);
      }
    }
  }
  a {
    width: 100%;
    text-decoration: none;
    color: $nycjw-black;
    display: block;
  }
  .team-member-anchor {
    position: relative;
    top: -50px;
  }
  .member-image-container {
    width: 90%;
    max-width: 225px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin: 0 auto 1em;
    .member-image {
      height: 0;
      width: 100%;
      padding-bottom: 100%;
    }
  }
  .member-content {
    text-align: center;
    width: 100%;
    .member-name {
      position: relative;
      font-size: 1.8em;
      line-height: 1.8rem;
    }
    .member-title {
      font-size: .75em;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    .member-content-text {
      text-align: left;
      font-size: .95rem;
      .extended-content-wrapper {
        .extended-content-container {
          display: none;
          .extended-content {
            display: inline-block;
            & > *:nth-child(1) {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

.image-description-block, .members-preview-block {
  padding: 1.5rem 0;
  @include for-size(md) {
    padding: 2rem 0 0;
  }
}
#team-container-list, .image-description-block {
  .team-member-container {
    width: 100%;
    .member-content {
      text-align: left;
      padding-left: 30px;
      h3 {
        margin: 0;
      }
    }
  }
}

.meet-the-team{
  font-size: 1.5em;
  // padding-top: .5rem;
  color: $nycjw-black;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $nycjw-black;
  font-family: $bella;
  float: right;
  letter-spacing: 1px;
  &:visited {
    color: $nycjw-black;
  }
  &:after {
    content: '';
    position: absolute;
    left: calc(100% + 10px);
    top: calc(50% - 3px);
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
  }
}

/*---------------------------*\
  Team Page
\*---------------------------*/

#team-container {
  .team-container {
    display: flex;
    flex-wrap: wrap;
  }
}
.team-member-container {
  width: 100%;
  .member-image-container {
    max-width: 260px;
    margin: 0 auto 1em;
  }
}


/*---------------------------*\
  Events
\*---------------------------*/

#section-events {
  .section-wrapper {
    padding: 80px 0 80px;
    display: none;
    .section-title {
      color: white;
    }
    hr {
      background-color: white;
      position: relative;
    }
    .section-content {
      p, a{
        color: white;
      }
      a {
        font-family: $bella;
        font-size: 1.2rem;
        letter-spacing: 1px;
      }
    }
  }

  #events-gallery-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .slick-arrow {
      cursor: pointer;
      transition: all .2s linear;
      opacity: .8;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &:hover {
        opacity: 1;
        transform: scale(1.1) translateY(-50%);
      }
    }
    i {
      border: solid rgb(255,255,255);
      border-width: 0 4px 4px 0;
      display: inline-block;
      padding: 5px;
      width: 24px;
      height: 24px;
      margin: 0 5px;
    }
    .events-arrow-right {
      right: 50px;
      i{
        transform: rotate(-45deg);
      }
    }
    .events-arrow-left {
      left: 50px;
      i{
        transform: rotate(135deg);
      }
    }
  }
  .slick-track {
    width: 61vw!important;
    height: 100vh;
    .slick-active {
      opacity: 1!important;
    }
  }
  #events-gallery {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    .event-gallery-image-container {
      position: relative;
      width: 100%;
      padding: 10px;
      display: none;
      &:last-of-type {
        display: block;
      }
      .event-gallery-image {
        width: 90%;
        height: 0;
        padding-bottom: 65%;
        position: relative;
        margin: 0 auto;
        .temp-event-image {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          transition: opacity .3s linear;
          &.active {
            opacity: 1;
          }
        }
      }
      // &:nth-child(2) {
      //   width: 25vw;
      //   height: 25vw;
      //   left: 35%;
      //   top: 20%;
      // }
      // &:nth-child(3) {
      //   width: 18vw;
      //   height: 18vw;
      //   left: 55%;
      //   top: 16%;
      // }
      // &:nth-child(4) {
      //   width: 22vw;
      //   height: 22vw;
      //   left: 22%;
      //   top: 50%;
      // }
      // &:nth-child(1) {
      //   width: 15vw;
      //   height: 15vw;
      //   left: 60%;
      //   top: 50%;
      // }
    }
  }
  #homepage-event-link {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    text-align: center;
    font-family: $bella;
    letter-spacing: 2px;
    text-decoration:none;
    font-size: 2rem;
    white-space: nowrap;
    color: black;
    span {
      &::after {
        content: '';
        transition: all .15s linear;
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 5px;
        transform: rotate(-45deg);
        position: relative;
        margin: 2px 5px 3px 8px;
      }
    }
  }
}
.load-more {
  display: none;
}

.custom-link {
  padding: 2px 4px 2px;
  &:hover {
    color: white!important;
    background-color: black;
  }
}
#page-content {
  strong {
		font-weight: bold;
	}
  .black-bg-link {
    padding: 2px 6px 1px;
    background-color: black;
    color: white;
    &:hover {
      color: black;
      background-color: transparent;
    }
  }
}

.custom-select {
  font-size: 1rem;
  h3 {
    font-family: $nunito;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 11px;
    text-transform: uppercase;
  }
  select:focus {
    outline:none;
  }
}


/*---------------------------*\
  Partners
\*---------------------------*/

.partner-list-container {
  padding: 0 0 1.5rem 0;
  h2 {
    margin: 0 0 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2em;
  }
  &:last-of-type {
    padding-bottom: 6rem;
  }
  .partner-list {
    width: 100%;
    margin-bottom: 30px;
  }
}
.partner-list-partners {
  margin: 0;
  padding: 0;
  list-style-type: none;
  column-count: 1;
  li {
    margin-bottom:10px;
    overflow: hidden;
    a {
      color: black;
      text-decoration: none;
      position: relative;
      font-weight: 500;
      &::after {
        content: '';
        transition: all .1s linear;
        position: absolute;
        top: calc(100% + 3px);
        left: 0;
        width: 100%;
        height: 1px;
        background-color: black;
        opacity: 0;
      }
      &:hover::after {
        top: 100%;
        opacity: 1;
      }
    }
  }
}

/*---------------------------*\
  Contact
\*---------------------------*/

#section-contact {
  position: relative;
  input {
    height: 40px;
    border-radius: 0;
    border: 2px solid $nycjw-black;
    transition: transform .2s linear;
    &:focus {
      transform: scale(1.05);
    }
  }
  textarea {
    border-radius: 0;
    border: 2px solid $nycjw-black;
    transition: transform .2s linear;
    &:focus {
      transform: scale(1.01);
    }
  }
}

/*---------------------------*\
  Press
\*---------------------------*/

.press-image {
  display: block;
  position: relative;
}
.press-item {
  .press-item-content {

  }
  .press-additional-content {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &:not(:last-of-type) {
    margin-bottom: 36px;
  }
  .press-logo {
    width: 90px;
    height: auto;
    flex-shrink: 0;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .press-content {
    //padding-left: 24px;
    color: $nycjw-black;
    h4 {
      margin: 0;
      text-transform: uppercase;
      font-family: $nunito;
      font-size: .65rem;
    }
    a {
      text-decoration: none;
      font-weight: 500;
      color: $nycjw-black;
    }
  }
}

.press-2019 {
  .col-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 2em;
    .press-title-container {
      h3 {
        margin: 0;
        span {
          font-family: $bella;
          @include blackbackground();
        }
      }
    }
  }
  @media only screen and (min-width: 48em) {
    .col-item {
      .press-title-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        h3 {
          font-size: 2em;
          opacity: 0;
        }
      }
      &:hover {
        h3 {
          opacity: 1;
        }
      }
    }
  }
}

/*---------------------------*\
  Sponsors
\*---------------------------*/

.sponsor_type_list {
  margin-bottom: 60px;
  h2 {
    display: inline-block;
    border-bottom: 1px solid $nycjw-black;
    padding: 0 60px 0 0;
  }
  .sponsor_type_sponsors {
    display: flex;
    flex-wrap: wrap;
    .sponsor {
      width: 50%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin: 0;
        padding: 0 .5rem;
      }
      &.no-logo {
        justify-content: flex-start;
        padding: 0 20px 10px 0;
        align-items: flex-start;
      }
      a {
        transform: rotate(.001deg);
        transition: all .2s linear;
        &:hover {
          background-color: black;
          p {
            color: white;
          }
        }
      }
      img {
        width: 100%;
        height: auto;
        display: block;
        &.portrait {
          height: 100%;
          max-height: 150px;
          width: auto;
          margin: 0 auto;
          position: relative;
        }
      }
    }
  }
}

.page-id-562 {
  .sponsor_type_list {
    h2 {
      font-family: $nunito!important;
    }
  }
}

/*---------------------------*\
  Pages
\*---------------------------*/

.wp-gallery {
  width: 100%;
  position: relative;
  margin-bottom: 3em;
  .wp-gallery-images-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
    .wp-gallery-images {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      .slick-list, .slick-track {
        height: 100%;
        width: 100%;
      }
      .slick-slide > div {
        height: 100%;
        .wp-gallery-img {
          height: 100%;
        }
      }
    }
  }
  .wp-gallery-nav {
    .slick-list, .slick-track {
      height: 100%;
      //min-width: 100%;
      // padding: 0!important;
      // margin: 0!important;
    }
    margin-top: 8px;
    position: relative;
    .slick-slide {
      width: 80px!important;
      margin: 0 4px;
      @include for-size(phone-only) {
        width: 100px!important;
      }
    }
    .wp-gallery-arrow {
      width: 34px;
      height: 34px;
      //display: none;
      border: 1px solid $nycjw-black;
      border-radius: 50%;
      position: relative;
      transform: rotate(90deg) translateX(-50%);
      background-color: rgba(255,255,255,.5);
      position: absolute;
      top: 50%;
      left: -50px;
      cursor: pointer;
      @include for-size(phone-only) {
        display: none;
      }
      &.arrow-next {
        transform: rotate(-90deg) translateX(50%);
        margin-left: 6px;
        left: auto;
        right: -50px;
      }
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image:url('../images/caret.png');
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: center center;
      }
    }
    .wp-gallery-nav-img {
      opacity: .4;
      transition: .2s opacity linear;
      cursor: pointer;
      &.slick-current, &:hover {
        opacity: 1;
      }
      &.slick-current {
        cursor: pointer;
        pointer-events: none;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

#page-header, .page-header {
  font-family: $nunito;
  margin: 50px 0 30px;
  padding: 10px 0 10px;
  p {
    font-size: 1.1rem;
  }
  h2.section-title {
    font-size: 5em;
    line-height: 1em;
    margin: 0;

  }
}

#ec-links {
  display: flex;
  margin: 15px 0;
  a {
    cursor: pointer;
    display: flex;
    margin-right: 10px;
    align-items: center;
    color: black;
    text-decoration: none;
    span {
      margin-left: 5px;
      font-weight: 500;
    }
    img {
      height: 18px;
      width: auto;
    }
  }
}

.emerging-title {
  border-bottom: 1px solid black;
  display: inline-block;
  padding-right: 60px;
  margin-bottom: 10px;
}
.single-emerging-creatives {
  .section .section-wrapper {
    #page-header {
      display: flex;
      flex-direction: column;
      .ec-featured-image {
        flex-shrink: 0;
        margin-bottom: 30px;
        img {
          width: 100%;
          max-width: 450px;
          height: auto;
        }
      }
    }
    .ec-content {
      .ec-title {
        // display: flex;
        // align-items: flex-end;
        span {
          margin: 0 15px;
        }
        p {
          margin: 0;
        }
        h1 {
          margin: 0;
          font-size: 30px;
          left: auto;
        }
      }
      .ec-description p{
          font-size: 1em!important;
      }
      .show-details {
        color: black;
        text-transform: uppercase;
        font-weight: 600;
        font-size: .8rem;
      }
    }
    .ec-images {
      padding-top: 3rem;
      margin-top: 2rem;
      border-top: 1px solid $nycjw-black;
    }
  }
}
.password-protected {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  #page-header {
    display: none;
  }
}
#password-form-fields {
  display: flex;
  justify-content: center;
  input[type="password"] {
    border: 2px solid $nycjw-black;
    border-radius: 0;
    padding: 8px 10px;
    min-width: 250px;
    font-size:1.1rem;
    font-weight: 300;
  }
  input[type="submit"] {
    background-color: black;
    border-radius: 0;
    margin-left: 8px;
    // font-family: $bella;
    color:  white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    //font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 8px 18px;
  }
}
#page-content {
  * {
    scroll-margin-top: 100px;
  }
  p {
    font-size: 1.1em;
    line-height: 1.8;
    a[href^="#"] {
      padding-top: 80px;
    }
    a {
      position: relative;
      &::before {
        content: '';
        width: 106%;
        height: 2px;
        top: 100%;
        left: -13%;
        position: absolute;
        opacity: 0;
        background-color: $nycjw-black;
        transition: all .07s ease-in;
      }
      &::after {
        content: '';
        width: 8px;
        height: 8px;
        top: calc(100% - 3px);
        left: 88%;
        position: absolute;
        opacity: 0;
        border-top: 2px solid $nycjw-black;
        border-right: 2px solid $nycjw-black;
        transform: rotate(45deg);
        transition: all .07s ease-in;
      }
      &:hover {
        &::before {
          left: -3%;
          opacity: 1;
        }
        &::after {
          left: 98%;
          opacity: 1;
        }
      }
    }
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: $bebas;
  }
  h2.custom-header {
    font-size: 2em;
    font-family: $bella;
    border-bottom: 1px solid $nycjw-black;
  }
  ul {
    margin: 0 0 1.5em 0;
    list-style-position: inside;
    li {
      ul {
        margin: 0;
        list-style-type: none;
        li {
          position: relative;
          &::before {
            content:'';
            position: absolute;
            left: -20px;
            top: 8px;
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            width: 4px;
            height: 4px;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    &::after {
      content: '';
    }
  }
  .show-more-links {
    display: flex;
    a {
      width: 150px;
      height: 150px;
      margin-right: 30px;
      padding: 30px;
      border: 1px solid black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      font-family: $bella;
      font-size: 1.5em;
      line-height: 1.2em;
      align-items: center;
      text-align: center;
    }
  }
}

#page-content {
  ul {
    padding-left: 30px;
    margin: 1em 0 2.5em 0;
    list-style-type: none;
    li {
      position: relative;
      line-height: 1.5em;
      margin-bottom: 20px;
      &::before {
        content: '';
        position: absolute;
        left: -30px;
        top: 7px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 7px;
        border-color: transparent transparent transparent $nycjw-black;
      }
    }
  }
}


#bottom-content {
  a {
    color: $nycjw-black;
  }
  ul {
    padding-left: 30px;
    margin: 0 0 2.5em 0;
    list-style-type: none;
    li {
      position: relative;
      line-height: 1.5em;
      margin-bottom: 20px;
      &::before {
        content: '';
        position: absolute;
        left: -30px;
        top: 7px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 7px;
        border-color: transparent transparent transparent $nycjw-black;
      }
    }
  }
}

/*---------------------------*\
  Footer
\*---------------------------*/

.mail-icon {
  position: fixed;
  bottom: .5rem;
  left: 1rem;
  width: 60px;
  cursor: pointer;
  display: none;
  @include for-size(md) {
    display: block;
  }
  svg {
    width: 100%;
    height: auto;
  }
}

footer.site-footer {
  width: 100%;
  padding: .75em 1em;
  bottom: 0;
  left: 0;
  #footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    @include for-size(md) {
      flex-direction: row;
    }
    #contact-info-wrapper {
      margin-bottom: 2rem;
      @include for-size(md) {
        margin-bottom: 0;
      }
    }
    #contact-info {
      .newsletter-signup-text {
        max-width: 450px;
      }
      .newsletter-container {
        display: block!important;
        width: auto!important;
        height: auto!important;
        top: auto!important;
        left: auto!important;
        opacity: 1!important;
        pointer-events: auto!important;
        position: relative!important;
      }
      .row-2 {
        display: flex;
        align-items: flex-end;
        form {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          @include for-size(md) {
            padding-left: 75px;
          }
          input[type="email"] {
            border: none;
            border-bottom: 1px solid black;
            padding: 0;
            &::placeholder {
              color: black;
            }
          }
          input[type="submit"] {
            margin-top: 0;
            font-family: $bebas;
            font-size: 1.2rem;
            padding: 15px 15px 10px 15px;
            background: $nycjw-yellow;
            color: black;
            margin-left: 1rem;
          }
        }
      }
      .social-icons {
        margin-left: 2.5em;
        display: flex;
        align-items: center;
        .social-icon a{
          display: flex;
          align-items: center;
        }
      }
    }
  }
  h2 {
    margin: 0;
    line-height: 1em;
    opacity: 0;
    transition: opacity .3s linear;
  }
}

a.join-list, a.volunteer-link {
  text-transform: uppercase;
  color: white!important;
  background-color: black;
  font-size: .75em;
  padding: 4px 5px 3px;
  font-weight: 600;
}

.newsletter-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s linear;
  .newsletter-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(254,242,0,.9);
    display: flex;
    justify-content: center;
    align-items: center;
    .newsletter-content {
      width: auto;
      height: auto;
      //min-height: 300px;
      max-width: 900px;
      min-width: 300px;
      display: flex;
      justify-content: flex-end;
      position: relative;
      transition: all .3s linear;
      opacity: 0;
      transform: translateY(-30px);
      transition-delay: .2s;
      text-align: center;
      #close-newsletter {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        &::after, &::before {
          content: '';
          width: 100%;
          height: 2px;
          background-color: black;
          position: absolute;
          top: 50%;
          left: 0;
        }
        &::before {
          transform: translateY(-50%) rotate(-45deg);
        }
        &::after {
          transform: translateY(-50%) rotate(45deg);
        }
      }
      #newsletter-image {
        width: 40%;
        // height: 100%;
        // position: absolute;
        // top: 0;
        // left: 0;
        display: none;
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }
  &.loading {
    input[type="submit"] {
      color: black!important;
    }
    .jw-submit-loader {
      opacity: 1!important;
    }
  }
}

form.jw-newsletter-form {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  width: 100%;
  input[type="email"] {
    padding: 7px 10px;
    border: 1px solid black;
    border-radius: 0;
    width: 100%;
    &:focus {
      outline: none;
    }
    &.error {
      outline: 2px solid red;
    }
  }
  input[type="submit"] {
    border: none;
    outline: none;
    color: white;
    background-color: black;
    border-radius: 0;
    -webkit-appearance: none;
    font-weight: 300;
    padding: 15px 20px;
    width: 100%;
    font-size: 1em;
    height: 100%;
    margin-top: 8px;
    cursor: pointer;
  }
}
.jw-submit-wrapper {
  position: relative;
  .jw-submit-loader {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    .lds-default {
      transform: scale(.5);
      div {
        background: white;
      }
    }
  }
}

.newsletter-signup {
  padding: 2em 2em;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  h2 span{
    position: relative;
  }
  h2 {
    @include for-size(md) {
      font-size: 4em;
    }
    position: relative;
    margin: 0;
  }
}
.newsletter-block {
  width: auto;
  height: auto;
  position: relative;
  top: auto;
  left: auto;
  z-index: auto;
  opacity: 1;
  pointer-events: auto;
  .newsletter-signup {
    max-width: 800px;
    margin: 0 auto;
    h2 {
      text-align: center;
      &::after {
        display: none;
      }
    }
    .newsletter-signup-text {
      text-align: center!important;
    }
  }
}
body.signup-active {
  .newsletter-container {
    opacity: 1;
    pointer-events: auto;
    .newsletter-wrapper {
      .newsletter-content {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

#page-content {
  .single-product {
    .summary.entry-summary {
      margin-top: 0;
    }
    .product_title.entry-title {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.3em;
      left: auto;
      margin-top: 0;
    }
  }
  .woocommerce #respond input#submit.alt,
  .woocommerce a.button.alt,
  .woocommerce button.button.alt,
  .woocommerce input.button.alt,
  .woocommerce .cart .button,
  .woocommerce a.button {
    background-color: black;
    border-radius: 0;
    text-transform: uppercase;
    color: white;
    font-size: .9em;
    font-weight: 600;
  }
  .woocommerce a.remove {
    color: black!important;
    &:hover {
      background-color: $nycjw-yellow;
    }
  }
}
.single-product .product_meta {
   display: none;
}
.woocommerce-result-count {
  display: none;
}
.cart-contents {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-image:url('../images/shopping-bag.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  display: none!important;
  span {
    position: relative;
    top: 2px;
  }
}

/*---------------------------*\
  Loaded
\*---------------------------*/

body.menu-active {
  .site-header {
    #site-navigation {
      ul {
        li {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}

/*---------------------------*\
  Admin bar styles
\*---------------------------*/

.admin-bar {
  .site-header {
    top: 32px;
    @include for-size(md-down) {
      top: 46px;
    }
    .menu-overlay {
      @include for-size(md-down) {
        height: calc(100vh - #{$headerHeight} - 54px);
        top: 47px;
      }
    }
  }
}



@media only screen and (min-width: 31em)  { // 496px
  body.loaded {
    #fixed-background {
      .circle-overlay {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }
  .section .section-wrapper:not(.full-width-page) {
    width: 80%;
  }

  #section-events {
    #events-gallery-container {
      //top: $headerHeight;
    }
    #events-gallery {
      width: 90%;
      .event-gallery-image-container {
        padding: 5px;
        width: 50%;
        display: block;
        .event-gallery-image {
          width: 100%;
          padding-bottom: 56.25%;
        }
      }
    }
    #homepage-event-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.6);
      display: flex;
      justify-content: center;
      color: white;
      align-items: center;
      font-size: 1.2rem;
      span {
        &::after {
          content: '';
          border: solid white;
          border-width: 0 2px 2px 0;
          padding: 3px;
        }
      }
    }
  }
  .event-item {
    .event-title {
      h2 {
        line-height: 2.3rem;
        span {
          font-size: 1.3rem;
        }
      }
    }
  }
  .event-filter-sentence {
    flex-direction: row;
    .custom-select:not(:last-of-type) {
      margin-right: 20px;
    }
    .custom-select option:disabled {
      color: blue;
      opacity: .4;
    }
    h3 {
      margin-bottom: 2px;
    }
  }
  .date-divider {
    font-size: 1.5rem;
  }
  .newsletter-signup form {
    flex-direction: row;
    input[type="submit"] {
      margin: 0 0 0 8px;
      width: auto;
    }
  }

  /*---------------------------*\
    Press
  \*---------------------------*/

  #press-preview {
    //width: 90%;
    margin: 0 auto;
  }
  .press-item {
    .press-item-content {
      display: flex;
      align-items: flex-start;
    }
    .press-additional-content {
      padding-left: 122px;
    }
    &:not(:last-of-type) {
      margin-bottom: 32px;
    }
    .press-logo {
      width: auto;
      height: auto;
      max-width: 90px;
      max-height: 60px;
      width: 90px;
      height: 60px;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 20px;
      img {
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .press-content {
      padding-left: 32px;
      a {
        font-size: 1.2rem;
        &:hover {
          span {
            @include blackbackground();
            padding: 3px 5px;
            margin-left: -5px;
          }
        }
      }
    }
  }

  /*---------------------------*\
    Sponsors > 496px
  \*---------------------------*/

  .sponsor_type_list {
    .sponsor_type_sponsors {
      .sponsor {
        padding: 30px;
      }
    }
  }

}

.entry-content, #page-content {
  img.alignnone {
    width: 100%;
    height: auto;
  }
  .caldera-grid {
    margin: 0 auto;
    width: 90%;
    @media only screen and (min-width: 48em) {
      width: 60%;
    }
  }
}

.ninja-forms-form-wrap {
    ul {
        margin-bottom: 1rem!important;
        li {
            &::before {
                display: none!important;
            }
        }
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  body.loaded {
    #fixed-background {
      .circle-overlay {
        transform: translate(-50%, -50%) scale(2);
      }
    }
  }
}

@media only screen and (min-width: 43em) and (orientation:landscape) {
  body.loaded {
    #fixed-background {
      .circle-overlay {
        transform: translate(-50%, -50%) scale(1.4);
      }
    }
  }
}

@media only screen and (min-width: 43em) and (orientation:portrait) {
  body.loaded {
    #fixed-background {
      .circle-overlay {
        transform: translate(-50%, -50%) scale(1.4);
      }
    }
  }
}

@media only screen and (min-width: 43em) { // 688px
  .section {
    .section-wrapper {
      padding: 3em 0 3em;
    }
  }

  #section-events {
    #events-gallery-container {
      top: $headerHeight;
    }
    #homepage-event-link {
      font-size: 2rem;
      span {
        transition: transform .2s linear;
        &:hover {
          transform: scale(1.1);
        }
        &::after {
          padding: 5px;
        }
      }
    }
  }

  #page-header {
    margin-top: 30px;
    padding: 10px 0 10px;
    margin-bottom: 30px;
    p {
      font-size: 1.2rem;
    }
  }

  .wp-gallery {
    .wp-gallery-nav {
      .wp-gallery-arrow {
        display: none;
      }
      .slick-slide {
        width: 150px!important;
      }
      // .wp-gallery-nav-img {
      //   width: 100px;
      //   height: 100px;
      // }
    }
  }

  .date-divider {
    &::after {
      content: '';
      width: 100%;
    }
  }

  /*---------------------------*\
    Circle Links > 43em
  \*---------------------------*/
  .page-template-page-2018 {
    .section .section-wrapper:not(.full-width-page) {
      width: 90%;
      max-width: 860px;
    }
  }

  /*---------------------------*\
    About > 43em
  \*---------------------------*/

  #menu-about-menu, .sub-nav ul {
    justify-content: flex-end;
    flex-direction: row;
    li {
      margin: 0 0 0 30px;
    }
  }

  /*---------------------------*\
    Team > 43em
  \*---------------------------*/

  #team-container {
    h2 {
      font-size: 4.5em;
    }
    .team-names-only-container {
      a {
        width: calc(100% / 3);
      }
    }
    .team-container {
      &.team-container-supporting-staff {
        .team-member-container {
          width: calc(100% / 3);
          padding: 15px;
          .member-name {
            font-size: 1.4em;
          }
        }
      }
    }
    &.advisory-committee {
      .team-member-container {
        width: 100%;
        .team-member-content {
          .member-content {
            padding-left: 30px;
            text-align: left;
          }
        }
      }
    }
  }

  /*---------------------------*\
    Team Page > 43em
  \*---------------------------*/

  .team-member-container {
    margin:2rem 0;
    width: 50%;
    .team-member-content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .emerging-creatives-container {
    margin-bottom: 2em;
    .team-member-container {
      margin: 2em 0;
    }
  }
  .single-emerging-creatives {
    .section .section-wrapper {
      #page-header {
        flex-direction: row;
      }
      .ec-content {
        padding-left: 40px;
      }
      .ec-featured-image {
        flex-shrink: 0;
        margin-bottom: 30px;
        img {
          max-width: 250px;
        }
      }
    }
  }

  /*---------------------------*\
    Partners Masonry > 43em
  \*---------------------------*/

  #page-content {
    h2.custom-header {
      font-size: 3em;
    }
    .partner-list-gutter {
      width: 6%;
    }
    .partner-list {
      width: 47%;
      column-count: 1;
    }
    .partner-list-partners {
      column-count: 1;
    }
  }

  /*---------------------------*\
    Blog Landing
  \*---------------------------*/

  .entry-header {
    .entry-title {
      margin: 0;
      font-size: 2em;
    }
  }

}

@media only screen and (min-width: 48em) {

  /*---------------------------*\
    Home > 48em
  \*---------------------------*/

  .home-logo {
    height: 60vh;
    width: auto;
    svg {
      height: 100%;
      width: auto;
    }
  }

  .home-subtitle {
    font-size: 1.8em;
  }

  /*---------------------------*\
    Fullpage > 48em
  \*---------------------------*/
  #fullpage {
    .section {
      padding-top: 0;
    }
  }
  .section {
    padding-top: 0;
    .section-wrapper:not(.full-width-page) {
      width: 70%;
    }
    .section-wrapper {
      h1, h2.section-title {
        font-size: 3em;
      }
    }
    &#section-events {

    }
  }

  #fullpage {
    top: auto;
  }


  /*---------------------------*\
    Advisory Committee > 48em
  \*---------------------------*/

  .section-title.large-title {
    font-size: 2.5em!important;
  }
  .section-title.extra-large-title {
    font-size: 2em!important;
  }

  /*---------------------------*\
    Team > 48em
  \*---------------------------*/

  .team-member-container {
    align-items: flex-start;
  }

  #team-index {
    column-count: 3;
    margin-bottom: 0;
  }

  /*---------------------------*\
    Team Page > 48em
  \*---------------------------*/

  .team-member-container {
    align-items: flex-start;
  }

  .event-item {
    .event-datetime {
      flex-direction: row;
    }
    .event-date {
      margin-right: 24px;
      max-width: 50%;
    }
    .event-time {
      margin-right: 24px;
    }
  }

  /*---------------------------*\
    Events > 48em
  \*---------------------------*/

  #section-events {
    #events-gallery-container {
      top: 0;
    }
    #events-gallery {
      width: 70%;
      .event-gallery-image-container {
        padding: 8px;
      }
    }
  }

  /*---------------------------*\
    Sponsors > 767px
  \*---------------------------*/

  .sponsor_type_list {
    .sponsor_type_sponsors {
      .sponsor {
        padding: 15px;
        width: calc(100% / 3);
      }
    }
  }

  /*---------------------------*\
    Background > 48em
  \*---------------------------*/

  #fixed-background {
    top: 0;
    height: 100vh;
    .circle-overlay {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      transform: translate(-50%, -50%) scale(1)!important;
    }
  }
  .intro-overlay {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    top: 50%;
    .intro-logo-container {
      width: auto;
      .intro-logo {
        top: auto;
        width: 100%;
        svg {
          height: 60vh;
          width: auto;
          display: block;
        }
      }
    }
  }
  .newsletter-signup {
    width: 100%;
    padding: 2em 3em 2em;
    form {
      input[type="submit"] {
        margin-left: 8px;
      }
    }
  }
  .newsletter-container {
    .newsletter-wrapper {
      .newsletter-content {
        #newsletter-image {
          display: block;
        }
      }
    }
  }

  footer.site-footer {
    display: block;
  }
}

@media only screen and (min-width: 60em) {
  .partner-list-partners {
    column-count: 1;
    column-gap: 0;
  }
  .section {
    .section-wrapper {
      h1 {
        font-size: 3.5rem;
      }
      h2.section-title {
        font-size: 2.5rem;
      }

    }
  }
  .section-title.large-title {
    font-size: 3.5em!important;
  }
  .section-title.extra-large-title {
    font-size: 3em!important;
  }
  .blog .section-title.extra-large-title {
    //font-size: 6em!important;
  }
  #events-container {
    padding: 0 0 80px;
  }

  /*---------------------------*\
    Partners Masonry > 960px
  \*---------------------------*/

  #page-content {
    .partner-list-gutter {
      width: 5%;
    }
    .partner-list {
      width: 30%;
    }
    .partner-list-partners {
      column-count: 1;
      margin-bottom: 0;
      li {
        margin-bottom: 5px;
      }
    }
  }
}

@media only screen and (min-width: 64em) {
  .section-title.large-title {
    font-size: 4em!important;
  }
  .section-title.extra-large-title {
    font-size: 3.5em!important;
  }
  .section {
    .section-wrapper {
      max-width: 9999px;
    }
  }
  .page-template-page-2018 .section .section-wrapper {
    max-width: 1800px;
  }
}

@media only screen and (min-width: 48em) and (orientation:portrait){

  #fixed-background {
    .circle-overlay {
      transform: translate(-50%, -50%) scale(1.5)!important;
    }
  }

  .intro-overlay {
    width: 100%;
    .intro-logo-container {
      width: 100%;
      .intro-logo {
        width: 70%;
        height: auto;
        svg {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .home-logo {
    height: auto;
    width: 100%;
    svg {
      width: 100%;
      height: auto;
    }
  }
  .section .section-wrapper:not(.full-width-page) {
    width: 75%;
    padding: 5em 0;
  }
  .section .section-wrapper h1, .section .section-wrapper h2.section-title {
    font-size: 3em;
  }
  .section-title.large-title {
    font-size: 3em!important;
  }
  .section-title.extra-large-title {
    font-size: 2.5em!important;
  }
  #section-events #events-gallery {
    width: 90%;
  }
}

@media only screen and (min-width: 100em) {
  body, html {
    font-size: 20px;
  }
  #fixed-background .circle-overlay {
    box-shadow: 0px 0px 0px 300px #FEF200
  }
}
