@mixin transformify ($t, $v) {
  -webkit-#{$t}: $v;
  -moz-#{$t}: $v;
  -ms-#{$t}: $v;
  -o-#{$t}: $v;
  #{$t}: $v;
}

@mixin for-size ($range) {
  $sm: 496px;
  $sm-md: 688px;
  $md: 768px;
  $md-lg: 900px;
  $lg: 1024px;
  $xl: 1200px;
  $xxl: 1800px;

  @if $range == phone-only {
    @media (max-width: #{$sm - 1}) { @content; }
  } @else if $range == sm {
    @media (min-width: $sm) { @content; }
  } @else if $range == sm-md {
    @media (min-width: $sm-md) { @content; }
  } @else if $range == sm-md-down {
    @media (max-width: #{$sm-md - 1}) { @content; }
  } @else if $range == md {
    @media (min-width: $md) { @content; }
  } @else if $range == md-down {
    @media (max-width: #{$md - 1}) { @content; }
  } @else if $range == md-lg {
    @media (min-width: $md-lg) { @content; }
  } @else if $range == md-lg-down {
    @media (max-width: #{$md-lg - 1}) { @content; }
  } @else if $range == lg {
    @media (min-width: $lg) { @content; }
  } @else if $range == lg-down {
    @media (max-width: #{$lg - 1}) { @content; }
  } @else if $range == xl {
    @media (min-width: $xl) { @content; }
  } @else if $range == xl-down {
    @media (max-width: #{$xl - 1}) { @content; }
  } @else if $range == xxl {
    @media (min-width: $xxl) { @content; }
  }
}
