body:not(.home) .section .section-wrapper.map-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1440px;
}
.marker-info {
  display: none;
  width: 250px;
  height: auto;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 30px;
  left: -30px;
  z-index: 999;
  p {
    margin: 0;
    font-size: 1.2em;
    line-height: 1.3em;
    font-family: $nunito;
    &.map-item-title {
      margin-bottom: 10px;
    }
    &:not(.map-item-title) {
      font-size: 1em;
    }
    &:not(.map-item-title):first-of-type {
      margin-bottom: 5px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
#map-info {
  width: 100%;
  height: auto;
  overflow: auto;
  flex-shrink: 0;
  max-height: 30vh;
  transition: all .3s ease-in-out;
  -webkit-overflow-scrolling: touch;
  border-top: 2px solid $nycjw-black;
  #map-info-content {
    padding: 15px 15px;
    display: none;
  }
  &.active {
    max-height: 40vh
  }
  .event-item {
    padding: 15px;
    .desc-toggle {
      display: none;
    }
    .event-desc {
      display: block;
    }
  }

}
#nycjw-map-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  z-index: 102;
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%);
  transition: all .2s ease-in-out;
  &.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
  #nycjw-map-wrapper {
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    #nycjw-map-legend {
      width: auto;
      height: auto;
      background-color: white;
      padding: .75rem 1.25rem .75rem .75rem;
      border-radius: 12px;
      position: absolute;
      bottom: 4rem;
      right: 1rem;
      h3 {
        margin: 0 0 .5rem;
        text-align: center;
      }
      .nycjw-map-legend-item {
        display: flex;
        margin: 0 0 .5rem;
        img {
          width: 20px;
          height: auto;
          margin-right: .5rem;
        }
      }
    }
    #nycjw-map-dates {
      width: 220px;
      height: 100%;
      background-color: white;
      padding: .75rem;
      position: absolute;
      top: 0;
      left: 0;
      padding: 1.5rem .75rem 4rem 1.5rem;
      h3 {
        margin: 0 0 .5rem;
        text-decoration: underline;
      }
      .nycjw-map-date-item {
        display: flex;
        margin: 0;
        span {
          font-family: $nunito;
        }
      }
    }
    #close-map {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 20px;
      height: 20px;
      -webkit-appearance: none;
      border: none;
      background: transparent;
      padding: 0;
      cursor: pointer;
    }
    .mapboxgl-marker {
      background-color: black;
      color: white;
      font-weight: 600;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &.hidden {
        display: none;
      }
    }
    .mapboxgl-marker.cluster-layer-container .cluster-layer--cluster {
      background-color: black;
      color: white;
      font-weight: 600;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #nycjw-map, .mapboxgl-map {
      width: 100%;
      height: 100%;
      position: absolute;
      .mapboxgl-popup-tip {
        z-index: 100;
      }
      .map-tooltip {
        z-index: 100;
        h3 {
          margin: 0;
        }
        p {
          margin: 0;
        }
        .btn {
          border: 1px solid black;
          margin-top: .5rem;
          cursor: pointer;
          &:first-of-type {
            margin-right: .5rem;
          }
          &.small {
            font-size: 1rem;
            padding: .25rem .5rem .1rem!important;
          }
          &.details {
            background-color: black;
            color: white;
          }
          &.directions {
            background-color: transparent;
          }
        }
      }
    }
  }
}

/*---------------------------*\
  Map
\*---------------------------*/

#map-current-date {
  width: 100%;
  background-color: rgba(0,0,0,.05);
  display: flex;
  justify-content: flex-end;
  font-family: $bebas;
  padding: .5rem 1rem;
  .btn {
    background-color: black;
    color: white;
    border: none;
    display: inline-block;
    width: auto;
    margin: 0;
    font-size: 1rem;
  }
}
.marker {
  cursor: pointer;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
  padding: 0;
  background: transparent;
  border: none;
  img {
    width: 20px;
    height: auto;
  }
  .event-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: $nunito;
    letter-spacing: 2px;
  }
  &:hover {
    z-index: 99;
    .marker-info {
      display: block;
    }
  }
  &.active {
    opacity: 1;
  }
}

@media only screen and (min-width: 48em) {
  body:not(.home) .section .section-wrapper.map-wrapper {
    flex-direction: row;
  }
  #map-info {
    width: auto;
    max-width: 40vw;
    height: 100vh;
    max-height: 100vh;
    border: none;
    border-left: 2px solid $nycjw-black;
    #map-info-content {
      padding: 40px 10px;
    }
    &.active {
      max-height: 100vh
    }
  }
  .event-item {
    .event-datetime {
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: 60em) {
  #map-info {
    #map-info-content {
      padding: 40px 20px;
    }
  }
}
