.page-template-vendors {
  #fixed-background {
    display: none;
  }
}
.filtered-content {
  &.grid {
    .items-per-row-2 {
      .item-grid-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        > *.item {
          flex-basis: calc((100% - 20px) / 2);
        }
      }
    }
    .items-per-row-3 {
      .item-grid-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        > *.item {
          flex-basis: calc((100% - 40px) / 3);

          .item-content {
            height: 100%;
          }
        }
      }
    }
    .items-per-row-4 {
      .item-grid-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        > *.item {
          flex-basis: calc((100% - 60px) / 4);
        }
      }
    }
    @media (max-width: 768px) {
      .items-per-row-2,
      .items-per-row-3,
      .items-per-row-4 {
        .item-grid-wrapper {
          > *.item {
            flex-basis: 100%;
          }
        }
      }
    }
  }
  #filtered-content-filters {
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
    z-index: 1;
    z-index: 99; // by nightfury
    h2 {
      margin-top: 0;
      margin-bottom: 0;
    }
    @include for-size(md) {
      padding: 0 3rem;
    }
    .vendor-filter {
      width: 100%;
      margin-bottom: 16px;
      position: relative;
      padding: 0 1.5rem;
      @include for-size(sm-md) {
        width: 50%;
        margin-bottom: 0;
      }
      &:first-of-type {
        z-index: 4;
      }
      &:nth-child(2n + 2) {
        z-index: 3;
      }
      &:nth-child(3n + 3) {
        z-index: 2;
      }
      &:nth-child(4n + 4) {
        z-index: 1;
      }

      .filter-header {
        position: relative;
        border: 1px solid $nycjw-black;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 12px;
          transform: translateY(-50%);
          width: 15px;
          height: 7px;
          background-image:url('../images/caret.png');
          background-repeat: no-repeat;
          background-size: contain;
        }
        .filter-clear {
          position: absolute;
          right: 34px;
          top: 50%;
          transform: translateY(-50%);
          z-index: 2;
          cursor: pointer;
          background-image:url('../images/x.png');
          background-repeat: no-repeat;
          background-size: contain;
          width: 10px;
          height: 10px;
        }
        .filter-placeholder, .filter-value {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          z-index: 1;
          padding: 5px 12px;
          cursor: pointer;
        }
        input {
          width: 100%;
          border: 0 none;
          box-shadow: none;
          cursor: default;
          display: inline-block;
          margin: 0;
          outline: none;
          line-height: 17px;
          padding: 8px 12px;
          -webkit-appearance: none;
        }
      }
      .filter-options {
        position: absolute;
        width: 100%;
        height: 160px;
        overflow: auto;
        background-color: white;
        top: 100%;
        left: 0;
        border: 1px solid $nycjw-black;
        //display: none;
        .filter-option-none {
          padding: 5px 12px;
        }
        .filter-option {
          padding: 5px 12px;
          cursor: pointer;
          &.active {
            font-weight: 600;
          }
        }
      }
    }
  }
  &.alt-design {
    #filtered-content-filters {
      position: sticky;
      align-items: center;
      top: 56px;
      background-color: black;
      max-width: 100%;
      padding-top: .75rem;
      padding-bottom: .75rem;
    }
  }
  #search-by-title-autosuggest-wrapper {
    background-color: black;
    .searchable-dropdown {
      position: relative;

      input {
        width: 140px;
        height: 40px;
        border: none;
        border: 2px solid white;
        background: black;
        color: white;
        padding: 0 10px;
        min-width: 300px;
        transition: all 0.2s ease-in-out;

        &::placeholder {
          color: grey;
        }

        &:focus {
          width: 200px;
        }
      }

      .dropdown-container {
        display: none;
        position: absolute;
        min-width: 300px;
        min-height: 50px;
        background: white;
        padding: 5px;
        border-radius: 4px;
        margin-top: 2px;
        box-shadow: 1px 1px 4px #00000020;

        &.open {
          display: block;
        }

        .options-list {
          max-height: 400px;
          overflow: auto;
          padding: 5px 0;
          a {
            color: black;
          }
          .option-item {
            height: 70px;
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            span {
              color: black;
              &:visited {
                color: black;
              }
            }
            &:hover {
              background: rgba(0,0,0,.05);
            }

            img {
              width: 60px;
              height: 60px;
              object-fit: cover;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

.item {
  .slick-arrow {
    text-indent: -9999em;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
    background-color: transparent;
    -webkit-appearance: none;
    border: none;
    opacity: 0;
    transition: opacity .2s linear;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &::before, &::after {
      position: absolute;
      top: 50%;
      font-size: 2rem;
      z-index: 3;
      text-indent: 0;
      transform: translateY(-50%);
    }
    &.slick-prev {
      left: 0;
      &::before {
        left: 1rem;
        content: "➝";
        transform: scale(-1, 1) translateY(-50%);
      }
    }
    &.slick-next {
      right: 0;
      &::before {
        content: "➝";
        right: 1rem;
      }
    }
  }
  .slick-slider:hover {
    .slick-arrow {
      opacity: 1;
    }
  }
}

#filterable-items {
  width: 100%;
  margin-top: 3em;
  max-width: 1400px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  @include for-size(md) {
    padding: 0 3rem;
  }
  .items-gutter {
    width: 2%;
  }
  .items-grid-sizer {
    width: 100%;
    @include for-size(sm-md) {
      width: 49%;
    }
  }
  &.items-per-row-3 {
    .items-grid-sizer {
      @include for-size(md) {
        width: 50%;
      }
      @include for-size(lg) {
        width: calc(100% / 3);
      }
    }
  }
  &.items-per-row-4 {
    .items-grid-sizer {
      @include for-size(lg) {
        width: calc(100% / 3);
      }
      @include for-size(xl) {
        width: calc(100% / 4);
      }
    }
  }
  .item {
    width: 100%;
    margin-bottom: 2rem;
    padding: 0 .5rem;
    @include for-size(sm-md) {
      width: 49%;
      margin-bottom: 3rem;
    }
    .item-content {
      .item-image-container {
        width: 100%;
        height: 0;
        padding-bottom: 85%;
        position: relative;
        display: block!important;
        a {
          display: block!important;
          div {
            display: block!important;
          }
        }
        // &.item-image-2 {
        //   padding-bottom: 78%;
        // }
        // &.item-image-3 {
        //   padding-bottom: 85%;
        // }
        a {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          div {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }
      .item-info {
        padding: 10px 0 5px 0;
        width: 80%;
        text-align: center;
        margin: 0 auto;
        .item-name {
          h3 {
            margin-bottom: .25rem;
            margin-top: 0;
          }
          a {
            width: 100%;
            text-align: center;
            font-family: $bebas;
            text-decoration: none;
            font-weight: 500;
            font-size: 1.8rem;
            display: inline-block;
            line-height: 1.2;
            color: black!important;
          }
        }
        .item-subtitle {
          margin: 0;
          font-weight: 600;
          line-height: 1;
        }
        .item-desc {
          margin: .5rem auto;
          line-height: 1.2;
        }
        .item-materials {
          font-style: italic;
          font-size: .9rem;
          margin: .5rem auto .25rem;
        }
        .item-price {
          margin: 0;
          font-weight: 600;
        }
        .ex-link {
          display: flex!important;
          justify-content: flex-end;
          svg {
            width: 60px;
            height: auto;
            path {
              fill: black;
            }
          }
        }
        .item-location {
          width: 100%;
          margin: 0;
          text-align: center;
          font-size: .8em;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
    }
    &.featured {
      border: 1px solid $nycjw-black;
      margin-bottom: 1em;
      @include for-size(sm-md) {
        &.featured {
          width: 49%;
        }
      }
      .item-content {
        .item-info {
          .item-name {
            a {
              font-size: 2em;
            }
          }
          // .vendor-info-content {
          //   position: absolute;
          //   width: 100%;
          //   height: 100%;
          //   top: 0;
          //   left: 0;
          //   display: flex;
          //   flex-direction: column;
          //   justify-content: center;
          //   align-items: center;
          // }
        }
      }
    }
  }
  &.items-per-row-3 {
    .item {
      @include for-size(md) {
        width: 50%;
      }
      @include for-size(lg) {
        width: calc(100% / 3);
      }
    }
  }
  &.items-per-row-4 {
    .item {
      @include for-size(lg) {
        width: calc(100% / 3);
      }
      @include for-size(xl) {
        width: 25%;
      }
    }
  }
}

.alt-design {
  #filterable-items {
    .item {
      padding: 0 1rem;
      margin-bottom: 2rem;
      .item-content {
        padding: 1rem;
        border: 3px solid black;
        .item-info {
          margin: 0;
          .item-name {
            a {
              text-align: left;
            }
          }
        }
      }
    }
  }
}

/*-----------------------------*\
  single
\*-----------------------------*/

.vendor-links {
  display: flex;
  justify-content: flex-end;
  a {
    color: $nycjw-black;
    text-decoration: none;
    font-weight: 500;
    padding: 0 10px 0 8px;
    margin-left: 6px;
    border-right: 1px solid $nycjw-black;
    &:last-of-type {
      border-right: none;
      padding-right: 0;
    }
  }
}
#message.updated {
  display: block;
}
#acf-popup, .media-modal-content {
  h1, h2, h3, h4, h5, h6 {
    font-family: $nunito;
  }
}

.single-vendor {
  .rolodex-single-header {
    font-size: 2rem;
    display: block;
    font-family: $bella;
    margin: 0;
    text-decoration: none;
    color: $nycjw-black;
    border-bottom: 1px solid rgba(0,0,0,.3);
    position: relative;
  }
  .vendor-info {
    font-size: .8rem;
  }
}
#post-navigation {
  display: flex;
  flex-direction: column;
  .nycjw-nav-item {
    color: $nycjw-black;
    font-weight: bold;
    padding: 5px 0;
    position: relative;
  }
  .nycjw-prev-post {
    &::before {
      content: '';
      position: absolute;
      left: -20px;
      top: 7px;
      border: solid $nycjw-black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      width: 5px;
      height: 5px;
      transform: rotate(135deg);
    }
  }
  .nycjw-next-post {
    &::after {
      content: '';
      position: absolute;
      right: -20px;
      top: 7px;
      border: solid $nycjw-black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      width: 5px;
      height: 5px;
      transform: rotate(-45deg);
    }
  }
}

.vendor-single-page {
  .acf-gallery-add {
    color: white!important;
    padding: 6px 12px;
    border-radius: 2px;
    background-color: $nycjw-black;
  }
  .acf-form-fields {
    h1, h2, h3, h4, h5, h6 {
      font-family: $nunito;
    }
    .acf-icon {
      color: white!important;
    }
    .acf-taxonomy-field {
      .acf-icon {
        color: $nycjw-black!important;
      }
    }
  }
  .vendor-content {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2em;
    .vendor-gallery-container {
      width: 100%;
      position: relative;
      .vendor-gallery-arrows {
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;
        width: 100%;
        .vendor-arrow {
          width: 34px;
          height: 34px;
          border: 1px solid $nycjw-black;
          border-radius: 50%;
          position: relative;
          transform: rotate(90deg);
          background-color: rgba(255,255,255,.5);
          &.vendor-arrow-right {
            transform: rotate(-90deg);
            margin-left: 6px;
          }
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-image:url('../images/caret.png');
            background-repeat: no-repeat;
            background-size: 40%;
            background-position: center center;
          }
        }
      }
    }
    .vendor-info {
      width: 100%;
      margin-bottom: 2em;
      h1 {
        font-size: 2em;
        font-weight: 500;
        left: auto;
      }
      .vendor-location {
        margin: .5em 0 .6em;
        text-transform: uppercase;
        font-size: .9em!important;
        letter-spacing: 2px;
      }
      .vendor-social-links {
        .vendor-social-link {
          height: 20px;
          width: auto;
          margin-right: 8px;
          position: relative;
          img {
            height: 100%;
            width: auto;
          }
          span {
            margin-left: .5rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 31em)  { // 496px

  // Vendor Single

  .single-vendor {
    .rolodex-single-header {
      font-size: 5rem;
      &::before {
        content: '';
        position: absolute;
        left: -20px;
        top: 50%;
        border: solid $nycjw-black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        width: 15px;
        height: 15px;
        transform: rotate(135deg);
      }
    }
  }

  #post-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .nycjw-nav-item {
      padding: 0;
    }
  }

  .vendor-single-page {
    .vendor-content {
      flex-direction: row;
      justify-content: space-between;
      .vendor-gallery-container {
        width: 40%;
      }
      .vendor-info {
        width: 55%;
      }
    }
    .acf-form-fields {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .acf-field-image, .acf-field-wysiwyg, .acf-field-text {
        width: 48%;
      }
      .acf-field-taxonomy {
        width: 100%;
      }
      .acf-field-gallery {
        width: 100%;
      }
    }
  }
}

.single-virtual-booth, .single-discover {
  .vendor-location {
    background-color: black;
    color: white;
    margin: 0;
    padding: .35rem .5rem .15rem;
    font-size: 1.2rem;
  }
  .vendor-single-page {
    padding-top: 3rem;
  }
  .section-wrapper {
    padding-bottom: 0!important;
  }
  .vendor-content {
    border: 4px solid black;
    padding: 2rem 2rem;
    flex-direction: column;
    .featured-article-wrapper {
      height: auto!important;
      position: relative;
      .thumbnail-wrapper {
        padding: 0!important;
        position: relative!important;
        height: auto!important;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    @media only screen and (max-width: 48em)  {
      padding: 1rem;
    }
    .slick-arrow {
      top: 50%!important;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255,255,255,.5);
      border-radius: 50%;
      svg {
        width: 15px;
        path {
          fill: black;
        }
      }
    }
    .vendor-info {
      width: 100%;
      margin-top: 2rem;
      .about-section {
        br {
          display: block;
          margin-bottom: 18px;
          content: ' ';
        }
        @media only screen and (max-width: 48em)  {
          p {
            font-size: 1rem!important;
            line-height: 1.5!important;
          }
        }
      }
    }
    .booth-logo {
      width: 100%;
      max-width: 300px;
      margin-top: 1.5rem;
      margin: 1.5rem auto 0;
    }
  }
  .post-nav {
    .section-wrapper {
      padding-top: 2rem!important;
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-between;
      .nav-post {
        width: 280px;
        position: relative;
        .post-nav-arrow {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .post-nav-arrow-link {
          height: 0;
          padding-bottom: 65%;
          position: relative;
          color: black;
          text-decoration: none;
          font-family: $bebas;
          display: block;
          .post-nav-link-content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.35rem;
            line-height: 1;
            span {
              padding: .25rem .25rem .15rem;
              background-color: black;
              color: white;
              svg {
                width: 8px;
                height: auto;
                display: inline-block;
                margin: 0 .5rem;
                path {
                  fill: white;
                }
              }
            }
          }
        }
        @media only screen and (max-width: 36em)  {
          width: 100%;
          margin-bottom: 1rem;
        }
      }
      @media only screen and (max-width: 36em)  {
        flex-direction: column;
      }
    }
  }
}
